footer.footer
  .footer-wrap
    .footer-logo
      img(src="assets/images/footer-logo.svg", alt="").footer-logo__img
      img(src="assets/images/header-logo.svg", alt="").footer-logo__img_dn
      p.footer-logo__text © НПО ЭНТ—ТЕХНОЛОГИЯ УФ, 2020 г.
    .footer-linklist__header О предприятии
    .footer-linklist
      a(href="#").footer-linklist__link О предприятии
      a(href="#").footer-linklist__link Доставка
      a(href="#").footer-linklist__link Сервис
      a(href="#").footer-linklist__link Дополнительные услуги
      a(href="#").footer-linklist__link Статьи
      a(href="#").footer-linklist__link Контакты
    .footer-linklist__header Продукция
    .footer-linklist
      a(href="#").footer-linklist__link Обеззараживание воздуха и вентиляции
      a(href="#").footer-linklist__link Обеззараживание питьевой воды и бассейнов 
      a(href="#").footer-linklist__link Обеззараживание технических и сточных вод
      a(href="#").footer-linklist__link Судовые установки для обеззараживания воды
      a(href="#").footer-linklist__link Обеззарживание воды в рыбоводных хозяйствах 
      a(href="#").footer-linklist__link Комплектующие для установок
    .footer-contacts
      .footer-contacts-block
        .footer-contacts-block__text 199106, г. Санкт-Петербург, 24-я лин. В.О, д. 3-7, лит. Ж, пом. 54-Н, оф. 1
        a(href="tel: +7 (812) 718-24-92").footer-contacts-block__link.footer-contacts-block__link_mobile +7 (812) 718-24-92
      .footer-contacts-block
        .footer-contacts-block__text 115230, г. Москва, Варшавское ш., д. 42, оф. 6264
        a(href="tel: +7 (495) 718-24-92").footer-contacts-block__link.footer-contacts-block__link_mobile +7 (495) 718-24-92
        a(href="mailto: info@npoent.ru").footer-contacts-block__link.footer-contacts-block__link_mail info@npoent.ru