header.header
  .header-wrap
    .header-wrap-logo
      img.header-wrap-logo__img(src="assets/images/logo.png", alt="Finnkoti")
      br
      p.header-wrap-logo__text Дома счастливых семей
    ul.header-wrap-linklist
      li.header-wrap-linklist__link
        a(href="#") Проекты и цены
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="#") Технологии
        .header-wrap-linklist-block
          a(href="#") Производство
          a(href="#") Технологии
          a(href="#") Этапы работы
          a(href="#") Гарантии
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="#") Услуги
        .header-wrap-linklist-block
          a(href="#") Производство
          a(href="#") Технологии
          a(href="#") Этапы работы
          a(href="#") Гарантии
      li.header-wrap-linklist__link
        a(href="#") Акции
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="#") О комании
        .header-wrap-linklist-block
          a(href="#") Производство
          a(href="#") Технологии
          a(href="#") Этапы работы
          a(href="#") Гарантии
      li.header-wrap-linklist__link
        a(href="#") Галерея объектов
      li.header-wrap-linklist__link
        a(href="#") Контакты
    .header-wrap-info
      .header-wrap-info-search
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5197 16.1211L25 22.6014L22.6014 25L16.1211 18.5197C11.7977 21.5959 5.83834 20.8456 2.41235 16.7939C-1.01364 12.7421 -0.762975 6.74091 2.98897 2.98897C6.74091 -0.762975 12.7421 -1.01364 16.7939 2.41235C20.8456 5.83834 21.5959 11.7977 18.5197 16.1211ZM10.2366 2.32402C5.86665 2.32402 2.32412 5.86654 2.32412 10.2365C2.3291 14.6043 5.86871 18.144 10.2366 18.1489C14.6065 18.1489 18.149 14.6064 18.149 10.2365C18.149 5.86654 14.6065 2.32402 10.2366 2.32402Z" fill="#111111"/>
        </svg>
      .header-wrap-info-contacts
        a(href="tel: 8-921-889-32-26").header-wrap-info-contacts__phone 8 (921) 889-32-26
        .header-wrap-info-contacts__time <span></span>10:00 - 19:00
  include search.pug