header.header
  .header-wrap
    .header-wrap-hamburger
      <svg width="29" height="24" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2H27" stroke="#4479BC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 12H27" stroke="#4479BC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 22H27" stroke="#4479BC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    a(href="index.html").header-wrap-logo
      img.header-wrap-logo__img(src="assets/images/logo.png", alt="Finnkoti")
      br
      p.header-wrap-logo__text Дома счастливых семей
    ul.header-wrap-linklist
      li.header-wrap-linklist__link
        a(href="catalog.html") Проекты и цены
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="production.html") Производство
        .header-wrap-linklist-block
          a(href="credit.html")     Производство
          a(href="ur-sopr.html")    Технология
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="uslugi.html") Услуги
        .header-wrap-linklist-block
          a(href="credit.html")     Кредитование
          a(href="ur-sopr.html")    Юридическое  сопровождение при покупке участка
          a(href="landshaft.html")  Ландшафт
          a(href="smeta.html")      Анализ сметы
          a(href="tech.html")       Техобслуживание
      li.header-wrap-linklist__link
        a(href="stock.html") Акции
      li.header-wrap-linklist__link.header-wrap-linklist__link_more
        a(href="about.html") О комании
        .header-wrap-linklist-block
          a(href="news.html") Новости
          a(href="blog.html") Блог
      li.header-wrap-linklist__link
        a(href="galery.html") Галерея объектов
      li.header-wrap-linklist__link
        a(href="contacts.html") Контакты
    .header-wrap-info
      .header-wrap-info-search
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5197 16.1211L25 22.6014L22.6014 25L16.1211 18.5197C11.7977 21.5959 5.83834 20.8456 2.41235 16.7939C-1.01364 12.7421 -0.762975 6.74091 2.98897 2.98897C6.74091 -0.762975 12.7421 -1.01364 16.7939 2.41235C20.8456 5.83834 21.5959 11.7977 18.5197 16.1211ZM10.2366 2.32402C5.86665 2.32402 2.32412 5.86654 2.32412 10.2365C2.3291 14.6043 5.86871 18.144 10.2366 18.1489C14.6065 18.1489 18.149 14.6064 18.149 10.2365C18.149 5.86654 14.6065 2.32402 10.2366 2.32402Z" fill="#111111"/>
        </svg>
      .header-wrap-info-contacts
        a(href="tel: 8-921-889-32-26").header-wrap-info-contacts__phone 8 (921) 889-32-26
        .header-wrap-info-contacts__time <span></span>10:00 - 19:00
  include search.pug