.house-wrap-item
  .house-wrap-item-imagebox
    img(src="assets/images/house.png", alt="House").house-wrap-item-imagebox__img
  .house-wrap-item-desc
    .house-wrap-item-desc-top
      .house-wrap-item-desc-top-left
        p.house-wrap-item-desc-top-left__title Atmosphere
        p.house-wrap-item-desc-top-left__subtitle Panorama
      p.house-wrap-item-desc-top-right от
        span 3 345 000
        | руб
    .house-wrap-item-desc-down
      p.house-wrap-item-desc-down__item
        img(src="assets/images/area.svg", alt="area")
        | 254 кв.м
      p.house-wrap-item-desc-down__item 
        img(src="assets/images/stairs.svg", alt="stairs")
        | 1,5 этажа
      p.house-wrap-item-desc-down__item 
        img(src="assets/images/home.svg", alt="home")
        | 6 шт.