<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/app.min.css")
    script(src="assets/scripts/jquery.min.js")
    script(src="assets/scripts/slick.min.js")
    script(src="assets/scripts/jquery.sumoselect.min.js")
    script(src="assets/scripts/search.js")
    script(src="assets/scripts/jquery.fancybox.min.js")
    script(src="assets/scripts/main.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=d9d410cb-5d08-4c80-897e-eeffcb77b023&lang=ru_RU" type="text/javascript")
    title 
      block title
  body
    include header.pug
    block content
    include footer.pug