article.news-wrap-item
  .news-wrap-item-preview
    img(src="assets/images/prewiev.png", alt="").news-wrap-item-preview__img
  .news-wrap-item-desc  
    h2.news-wrap-item-desc__title История создания дома Ajatus, который был построен в 2018 году в рамках выставки Assuntomessut в Миккели
    .news-wrap-item-desc__text Семья Кривец участвовала на ярмарке Миккели с абсолютно уникальной моделью дома. В прошлом семье уже приходилось строить отдельно стоящие дома, потому на этот раз они с самого первого этапа знали, чего хотят от нового строения. Предварительно на бумаге было изложено много мыслей. Благодаря использованной технологии строительства будущий деревянный дом получил название Omatalo Ajatus (в переводе с финского Мечта)...
    .news-wrap-item-desc-bot
      .news-wrap-item-desc-bot__time 
        img(src="assets/images/time.svg", alt="")
        | 27.05. 2019
      .news-wrap-item-desc-bot__views
        img(src="assets/images/views.svg", alt="")
        | 30
      a(href="#").general-btn Подробнее