.pagination
  .pagination__item.pagination__item_b_a.pagination__item_b 1
  .pagination__item.pagination__item_b 2
  .pagination__item.pagination__item_b 3
  .pagination__item.pagination__item_b 4
  .pagination__item
    <svg width="17" height="3" viewBox="0 0 17 3" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="1.5" cy="1.5" r="1.5" fill="#333333" fill-opacity="0.6"/>
      <circle cx="8.5" cy="1.5" r="1.5" fill="#333333" fill-opacity="0.6"/>
      <circle cx="15.5" cy="1.5" r="1.5" fill="#333333" fill-opacity="0.6"/>
    </svg>
  .pagination__item.pagination__item_b 12
  .pagination__item.pagination__item_n
    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#333333" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
