extend ../common/main.pug
block title
  title УСЛУГИ
block content
  .main1
  section.amen-first
    <svg class="stick-squad" preserveAspectRatio="xMaxYMax slice" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
      <rect y="124" width="10" height="10" fill="#082D84"/>
    </svg>
    h4.gen-subtitle Чем мы занимаемся
    h1.gen-title Услуги
  section.amen-container
    article.amen-slide(data-slide-number="0").amen-slide_active
      span.amen-slide__number 01
      .amen-slide-info
        h3.amen-slide-info__title Морские перевозки
        p.amen-slide-info__text — Проработка маршрутов;
          <br>— География перевозок охватывает все ключевые направления: США и Канаду, Южную Америку, Юго-Восточную Азию, Индию, Ближний Восток, Средиземноморье;
          <br>— Перевозка контейнеров, негабаритных и опасных грузов;
      img(src="assets/images/ship-full1.png", alt="ship").amen-slide__img
    article.amen-slide(data-slide-number="1")
      span.amen-slide__number 02
      .amen-slide-info
        h3.amen-slide-info__title Железнодорожные грузоперевозки
        p.amen-slide-info__text — Проработка маршрутов;
          <br>— География перевозок охватывает все ключевые направления: США и Канаду, Южную Америку, Юго-Восточную Азию, Индию, Ближний Восток, Средиземноморье;
          <br>— Перевозка контейнеров, негабаритных и опасных грузов;
      img(src="assets/images/ship-full2.png", alt="ship").amen-slide__img
    article.amen-slide(data-slide-number="2")
      span.amen-slide__number 03
      .amen-slide-info
        h3.amen-slide-info__title Автотранспортные грузоперевозки
        p.amen-slide-info__text — Проработка маршрутов;
          <br>— География перевозок охватывает все ключевые направления: США и Канаду, Южную Америку, Юго-Восточную Азию, Индию, Ближний Восток, Средиземноморье;
          <br>— Перевозка контейнеров, негабаритных и опасных грузов;
      img(src="assets/images/ship-full3.png", alt="ship").amen-slide__img
    article.amen-slide(data-slide-number="3")
      span.amen-slide__number 04
      .amen-slide-info
        h3.amen-slide-info__title Склады и складирование
        p.amen-slide-info__text — Проработка маршрутов;
          <br>— География перевозок охватывает все ключевые направления: США и Канаду, Южную Америку, Юго-Восточную Азию, Индию, Ближний Восток, Средиземноморье;
          <br>— Перевозка контейнеров, негабаритных и опасных грузов;
      img(src="assets/images/ship-full4.png", alt="ship").amen-slide__img
  .amen-links
    .amen-links-wrap
      .amen-links-item(data-num="0").amen-links-item_active
        img(src="assets/images/ship-full1.png", alt="")
        p.amen-links-item__name Морские грузоперевозки
          span.amen-links-item__line
      .amen-links-item(data-num="1")
        img(src="assets/images/ship-full2.png", alt="")
        p.amen-links-item__name Железнодорожные <br>грузоперевозки
          span.amen-links-item__line
      .amen-links-item(data-num="2")
        img(src="assets/images/ship-full3.png", alt="")
        p.amen-links-item__name Автотранспортные <br>грузоперевозки
          span.amen-links-item__line
      .amen-links-item(data-num="3")
        img(src="assets/images/ship-full4.png", alt="")
        p.amen-links-item__name Склады и складирование
          span.amen-links-item__line
  .amen-overflow
    .amen-links__underline_l.amen-links__underline
    .amen-links__underline_c
    .amen-links__underline_r.amen-links__underline
  .more-amen
    <svg class="stick-squad" preserveAspectRatio="xMaxYMax slice" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
      <rect y="124" width="10" height="10" fill="#082D84"/>
    </svg>
    h4.gen-subtitle Чем мы занимаемся
    h1.gen-title Сопутствующие услуги  
    .more-amen-list
      p.more-amen-list__p Страхование грузов
      p.more-amen-list__p Сопровождение грузов
      p.more-amen-list__p Сборные грузы
      p.more-amen-list__p Перетарочные операции
      p.more-amen-list__p Хранение, перевалка грузов
      p.more-amen-list__p Внутрипортовое экспедирование
  
