extends ../template
block title
  | НПО ЭНТ-Технология УФ
block content
  include ../common/header
  .catalog
    h1.catalog__title Продукция НПО ЭНТ-Технология УФ
    include ../common/sixtangles-block
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 1000 м<sup>3</sup>
          p.catalog-block-table__price 12 650 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc облучатель для конвейера
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Мощность Уф-ламп:
              p.catalog-block-table-param-row__value 300 Вт
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Количество УФ-ламп:
              p.catalog-block-table-param-row__value 18 шт
          p.catalog-block-table__price 6 900 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc облучатель для конвейера
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 6400 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Сечение:
              p.catalog-block-table-param-row__value 900×500 мм
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h2.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
  include ../common/footer