extend ../common/main.pug
block title
  title КЛИЕНТЫ
block content
  .main1
  section.cli-first
    <svg class="stick-squad" preserveAspectRatio="xMaxYMax slice" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
      <rect y="124" width="10" height="10" fill="#082D84"/>
    </svg>
    h4.gen-subtitle Нам доверяют
    h1.gen-title Клиенты
  section.cli-more
    .cli-more-wrap
      .cli-more-wrap1
        .cli-more-item.cli-more-item_active
          img.cli-more-item__img(src="assets/images/license.png", alt="")
          .cli-more-item-desc
            h3.cli-more-item-desc__title Maersk
            p.cli-more-item-desc__text «Сообщаем вам, что компания SeaMax является надежным партнером Maersk Line. SeaMax предоставляет своим клиентам качественный сервис по экспедированию разнообразных грузов. Сотрудников компании SeaMax отличает глубокое понимание бизнеса, тщательная проработка всех деталей транспортного процесса, умение держать слово и взятые на себя обязательства, как по отношению к Линии, так и по отношению к своим клиентам.»
        .cli-more-item
          img.cli-more-item__img(src="assets/images/license.png", alt="")
          .cli-more-item-desc
            h3.cli-more-item-desc__title Maersk
            p.cli-more-item-desc__text «Сообщаем вам, что компания SeaMax является надежным партнером Maersk Line. SeaMax предоставляет своим клиентам качественный сервис по экспедированию разнообразных грузов. Сотрудников компании SeaMax отличает глубокое понимание бизнеса, тщательная проработка всех деталей транспортного процесса, умение держать слово и взятые на себя обязательства, как по отношению к Линии, так и по отношению к своим клиентам.»
        .cli-more-item
          img.cli-more-item__img(src="assets/images/license.png", alt="")
          .cli-more-item-desc
            h3.cli-more-item-desc__title Maersk
            p.cli-more-item-desc__text «Сообщаем вам, что компания SeaMax является надежным партнером Maersk Line. SeaMax предоставляет своим клиентам качественный сервис по экспедированию разнообразных грузов. Сотрудников компании SeaMax отличает глубокое понимание бизнеса, тщательная проработка всех деталей транспортного процесса, умение держать слово и взятые на себя обязательства, как по отношению к Линии, так и по отношению к своим клиентам.»
  section.clients-list
    .clients-list-wrap
      .clients-list-item
        img.clients-list-item__img(src="assets/images/segezha.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/ulk.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/dhl.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/com.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/ikea.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/lad.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/two.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/fan.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/cherep.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/kuz.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/fun.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/chel.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/hz.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/har.png", alt="")
      .clients-list-item
        img.clients-list-item__img(src="assets/images/fonar.png", alt="")
