extend ../common/main.pug
block title
  title КОНТАКТЫ
block content
  .main1
  section.cont-first
    <svg class="stick-squad" preserveAspectRatio="xMaxYMax slice" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
      <rect y="124" width="10" height="10" fill="#082D84"/>
    </svg>
    h4.gen-subtitle Связаться с нами
    h1.gen-title Контакты
    .cont-info
      .cont-info-block
        p.cont-info-block__title Адрес
        p.cont-info-block__string Бизнес центр "Империал"<br>198097, Санкт-Петербург, пр. Стачек 48,<br>корпус 2-А., офис 2303.
      .cont-info-block
        p.cont-info-block__title Контакты
        p.cont-info-block__string Email: info@seamax.ru<br>Телефон: +7 (812) 611-09-00<br>Факс: +7 (812) 611-09-01
      .cont-info-block
        p.cont-info-block__title Часы работы
        p.cont-info-block__string Понедельник - Пятница : 09:00 – 20:00<br>Суббота - Воскресенье : 10:30 – 22:00
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5045a4d524b8b0eb69896ed6689907dee3efa183163f0302b47acb4b322b5a76&amp;width=100%25&amp;height=579&amp;lang=ru_RU&amp;"></script>  
  section.cont-second
    <svg class="stick-squad" preserveAspectRatio="xMaxYMax slice" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
      <rect y="124" width="10" height="10" fill="#082D84"/>
    </svg>
    h4.gen-subtitle Компания
    h1.gen-title Наша команда
    .mans-wrap
      .mans-item
        img.mans-item__img(src="assets/images/vinogradov.png", alt="gendir")
        .mans-item-desc
          .mans-item-desc__name Виноградов Александр Александрович
          .mans-item-desc__position Генеральный директор
          .mans-item-desc__links Телефон: +7 (812) 611-09-00 (доб.201)<br>E-mail: vinogradov@seamax.ru
      .mans-item
        img.mans-item__img(src="assets/images/borisevich.png", alt="zamgendir")
        .mans-item-desc
          .mans-item-desc__name Борисевич Валерий Иосифович
          .mans-item-desc__position Заместитель Генерального Директора
          .mans-item-desc__links Телефон: +7 (812) 611-09-00 (доб.271)<br>E-mail: bvi@seamax.ru
      .mans-item
        img.mans-item__img(src="assets/images/petruhin.png", alt="comdir")
        .mans-item-desc
          .mans-item-desc__name Петрухин Роман Вячеславович
          .mans-item-desc__position Коммерческий директор
          .mans-item-desc__links Телефон: +7 (812) 611-0900 (доб.210)<br>E-mail: petrukhin@seamax.ru


