extend ../common/main.pug
block title 
 | Галерея объектов | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.galery.w1440
      .galery-head
        h1.title-48 Галерея объектов
        p.galery-head__count 11 альбомов
      .galery-swap
        .galery-swap__item.galery-swap__item_l.galery-swap__item_active Построенные объекты
        .galery-swap__item.galery-swap__item_r Строящиеся объекты
      .galery-wrap
        .galery-main.galery-main_active
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house.png", alt="house").galery-main-item-top__img
              a(href="#" data-fancybox="images").galery-main-item-top-more
                img(src="assets/images/dom.png", alt="")
                img(src="assets/images/dom-1.png", alt="")
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-1.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-2.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-1.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-2.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
        .galery-main
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.1111111111111
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-1.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house-2.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
          .galery-main-item
            .galery-main-item-top
              img(src="assets/images/galery-house.png", alt="house").galery-main-item-top__img
              a(href="#").galery-main-item-top-more
                .general-btn 
                  img(src="assets/images/eye.svg", alt="eye")
                  | Посмотреть
            .galery-main-item-desc
              h4.galery-main-item-desc__title Дом Atmosphere. 250 кв.м.
              p.galery-main-item-desc__text Место строительства: Ленинградская область, пос.Ропша
    include ../common/pagination.pug
    .map-t.w1440
      h2.title-36 Карта объектов 
    #map-objects
    section.general-form
      .general-form-wrap
        h1.general-form-wrap__title Посмотреть,<br>как строятся дома
        form.general-form-wrap-form(action="GET")
          input#general-form__name(type="text", name="", placeholder="Имя")
          input#general-form__mail-or-phone(type="text", name="", placeholder="E-mail или телефон")
          br
          textarea#general-form__textarea(name="", cols="30", rows="2", placeholder="Текст сообщения")
          p.general-form-wrap-form__pers Отправляя данную форму Вы соглашаетесь на 
            a(href="#") обработку персональных данных
          button(type="submit").general-btn Запросить цену
