extend ../common/main.pug
block title
  title ГЛАВНАЯ
block content
  .main
    section.first-sec 
      h1.first-sec__h1 Транспортно- <br>экспедиторская <br>компания
      h4.first-sec__h4 Перевозка внешнеторговых грузов в контейнерах
    section.second-sec 
      <svg class="stick-squad" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
        <rect y="124" width="10" height="10" fill="#082D84"/>
      </svg>
      h4.gen-subtitle Основная информация
      h1.gen-title О компании
      p.second-sec__p Основой работы являются морские перевозки. Сопутствующие операции – это автомобильные, железнодорожные перевозки, таможенное оформление и страхование грузов, складирование и дистрибуция, портовое экспедирование. Мы в равной мере работаем как с импортными, так и экспортными грузами.<br><br>СиМакс является компанией нового поколения на рынке транспортных услуг. Она основана и управляется на современных принципах ведения бизнеса. В компании собраны лучшие профессионалы транспорта и логистики.  Многие сотрудники пришли в компанию из различных отраслей экономики - морского и железнодорожного транспорта, авто-предприятий, портов, складских терминалов – объединив свои знания и опыт в деле организации логистической структуры нового поколения. Наши основополагающие принципы сформулированы в философии компании
      img.second-sec__img(src="assets/images/ship1.png", alt="ship")
    section.third-sec
      <svg class="circle-bg" width="668" height="388" viewBox="0 0 668 388" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="-510" width="1178" height="388" rx="194" fill="#F8FAFC"/>
      </svg>
      <svg class="stick-squad" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
        <rect y="124" width="10" height="10" fill="#082D84"/>
      </svg>
      h4.gen-subtitle Наши ценности
      h1.gen-title Философия компании
      .list-wrap
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы обязаны быть примерными гражданами – способствовать добрым начинаниям, заниматься благотворительностью, быть приветливыми, уважать права и потребности других;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Наши сотрудники должны быть честными, инициативными, стремились к внедрению новых идей и передовых технологий, анализировали и исправляли допущенные ошибки;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Мы должны всемерно заботиться о наших клиентах, чтобы они были довольны нами, а их заказы выполнялись точно и быстро;
        p.list__item Наши сотрудники должны быть честными, инициативными, стремились к внедрению новых идей и передовых технологий, анализировали и исправляли допущенные ошибки;
        p.list__item Мы обязаны быть примерными гражданами – способствовать добрым начинаниям, заниматься благотворительностью, быть приветливыми, уважать права и потребности других;
    section.fourth-sec
      <svg class="stick-squad" width="10" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.5" y1="-2.18557e-08" x2="0.500006" y2="129" stroke="#082D84" stroke-opacity="0.2"/>
        <rect y="124" width="10" height="10" fill="#082D84"/>
      </svg>
      h4.gen-subtitle Отеделы и подразделения
      h1.gen-title Структура компании
      h3.fourth-sec__title Отделы:
      .parts-wrap
        .parts-item
          img.parts-item__img(src="assets/images/import.svg", alt="Импортный отдел")
          p.parts-item__p Импортный отдел
        .parts-item
          img.parts-item__img(src="assets/images/export.svg", alt="Экспортный отдел")
          p.parts-item__p Экспортный отдел
        .parts-item
          img.parts-item__img(src="assets/images/auto.svg", alt="Отдел автоперевозок")
          p.parts-item__p Отдел автоперевозок
        .parts-item
          img.parts-item__img(src="assets/images/train.svg", alt="Отдел железнодорожных перевозок")
          p.parts-item__p Отдел железнодорожных <br>перевозок
        .parts-item
          img.parts-item__img(src="assets/images/kass.svg", alt="Бухгалтерия")
          p.parts-item__p Бухгалтерия
      h3.fourth-sec__title Представительства:
      .mission-wrap
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru
        .mission-item
          .mission-item-visible
            p.mission-item-head Санкт-Петербург
              <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4.5 4L8 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            p.mission-item-about г. Санкт-Петербург, пр. Стачек 48, корпус 2-А, БЦ «Империал», офис 2303
          .mission-item-invisible
            a.mission-item__a(href="tel: +7 (988) 770-9922") +7 (988) 770-9922 <br>
            a.mission-item__a(href="mailto: maksimov@seamax.ru") maksimov@seamax.ru