doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel="stylesheet", href="assets/styles/app.min.css")
  title Document
body
  .wrapper
    .upper-tabs-content
      article.scheme-realize
        p.scheme-realize__text
          | Вы можете легко и быстро продать свою квартиру с помощью услуг специалистов отдела вторичной недвижимости ГК «КВС». Вырученные денежные средства можете с выгодой вложить в покупку новой квартиры. Квалифицированные специалисты Группы компаний «КВС» проведут полный цикл сделки и окажут сопровождение на всех ее этапах: от оценки имеющегося жилья до получения ключей от новой квартиры. Теперь, обратившись в «КВС», вы можете решить свой жилищный вопрос по принципу «одного окна».
        .scheme-realize-table
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-1.svg", alt="")
            img.scheme-realize-table-block__img.scheme-realize-table-block__img_down(src='assets/images/scheme-realize-1.png', alt='')
            span.scheme-realize-table-block__num 1
            p.scheme-realize-table-block__desc Обращение клиента в ГК «КВС»
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-2.svg", alt="")
            img.scheme-realize-table-block__img.scheme-realize-table-block__img_down(src='assets/images/scheme-realize-2.png', alt='')
            span.scheme-realize-table-block__num 2
            p.scheme-realize-table-block__desc Оценка Вашей квартиры
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-3.svg", alt="")
            img.scheme-realize-table-block__img(src='assets/images/scheme-realize-3.png', alt='')
            p.scheme-realize-table-block__desc.scheme-realize-table-block__desc_big Заключение Договора об оказании консультационных услуг. 
              span 
                i <br>Размер комиссионного вознаграждения составляет 50 000 руб.
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-4.svg", alt="")
            img.scheme-realize-table-block__img.scheme-realize-table-block__img_down(src='assets/images/scheme-realize-4.png', alt='')
            span.scheme-realize-table-block__num 4
            p.scheme-realize-table-block__desc 
              span Проведение рекламной кампании
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-5.svg", alt="")
            img.scheme-realize-table-block__img.scheme-realize-table-block__img_top(src='assets/images/scheme-realize-5.png', alt='')
            span.scheme-realize-table-block__num 5
            p.scheme-realize-table-block__desc.scheme-realize-table-block__desc_big Демонстрация Вашей квартиры потенциальным покупателям.
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-6.svg", alt="")
            img.scheme-realize-table-block__img(src='assets/images/scheme-realize-6.png', alt='')
            p.scheme-realize-table-block__desc.scheme-realize-table-block__desc_big 
              span 
                strong Покупатель найден. 
              | Подготовка и регистрация договора купли-продажи
          .scheme-realize-table-block
            img.scheme-realize-table-block__bg(src="assets/images/scheme-realize-bg-7.svg", alt="")
            img.scheme-realize-table-block__img.scheme-realize-table-block__img_top_t(src='assets/images/scheme-realize-7.png', alt='')
            span.scheme-realize-table-block__num 7
            p.scheme-realize-table-block__desc.scheme-realize-table-block__desc_big.scheme-realize-table-block__desc_big_b 
              span Проведение взаиморасчетов по квартире
          <svg id="SVGDoc" width="51" height="70" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 51 70"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Group 4499</title><g><title>Path 7282</title><path d="M7.49994,67.66675v0v-66.66699v0h42.50012v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="round" stroke-opacity="1" stroke="#fd7800" stroke-miterlimit="50" stroke-width="1"></path></g><g><title>Path 7284</title><path d="M1.00004,60.33374v0l6.66656,9v0l6.33331,-9v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="round" stroke-opacity="1" stroke="#fd7800" stroke-miterlimit="50" stroke-width="1"></path></g></g></g></svg>
          <svg id="SVGDoc1" width="51" height="70" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 51 70"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Group 4499</title><g><title>Path 7282</title><path d="M7.49994,67.66675v0v-66.66699v0h42.50012v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="round" stroke-opacity="1" stroke="#fd7800" stroke-miterlimit="50" stroke-width="1"></path></g><g><title>Path 7284</title><path d="M1.00004,60.33374v0l6.66656,9v0l6.33331,-9v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="round" stroke-opacity="1" stroke="#fd7800" stroke-miterlimit="50" stroke-width="1"></path></g></g></g></svg>
        .scheme-realize-double
          .scheme-realize-double-block
            img.scheme-realize-double-block__img(src="assets/images/scheme-realize-double-1.png", alt="")
            p.scheme-realize-double-block__desc.scheme-realize-double-block__desc_l Поиск Новой квартиры на рынке 
          .scheme-realize-double-block
            img.scheme-realize-double-block__img(src="assets/images/scheme-realize-double-2.png", alt="")
            p.scheme-realize-double-block__desc Покупка Новой квартиры в объектах ГК «КВС». 
              span На покупку квартиры предоставляется скидка 50 000 руб. 
              | При необходимости можно воспользоваться ипотекой или рассрочкой.
        .scheme-realize-advantage
          h4.scheme-realize-advantage__title Наши преимущества
          ul.scheme-realize-advantage-list
            li
              span 1.
              | Принцип «одного окна»: на всех этапах сделки Вас сопровождают квалифицированные сотрудники отдела вторичной недвижимости ГК «КВС».
            li
              span 2.
              | Профессиональная оценка квартиры на основе анализа текущих и прошлых предложений, сделок на рынке недвижимости.	
            li
              span 3.
              | Предпродажная подготовка квартиры.
            li
              span 4.
              | Работаем с субсидиями, материнским капиталом, военной ипотекой.
            li
              span 5.
              | Бесплатное одобрение ипотечного кредита через отдел ипотеки ГК «КВС».
            li
              span 6.
              | Размещение рекламы по квартире за наш счет.
            li
              span 7.
              | Проведение показов квартиры в удобное для Вас время с мотивированными Покупателями.
            li
              span 8.
              | Проведение переговоров с Покупателями.	
            li
              span 9.
              | Помощь в сборе документов для сделки.
            li
              span 10.
              | Формирование проекта договора купли-продажи.
            li
              span 11.
              | Организация, проведение и регистрация сделки.
            li
              span 12.
              | Контроль  за выполнением взаиморасчетов по квартире.
            li
              span 13.
              | Услуги по продаже Вашей квартиры будут оказаны для Вас абсолютно БЕСПЛАТНО при покупке новой квартиры в объектах ГК «КВС».
    .super-line
    .upper-tabs-content
      article.zachet-program(data-num="0")
        p.zachet-program__text Если у Вас есть квартира, которую Вы хотите продать, но не знаете, как это сделать, группа компаний «КВС» придет вам на помощь! Наши менеджеры по продаже вторичной недвижимости оценят Вашу квартиру и найдут на нее покупателя.
          strong <br>Предлагаем рассмотреть наши программы зачета жилья.
        .zachet-program-imgcont
          img.zachet-program-imgcont__img.zachet-program-imgcont__img_active(src="assets/images/zachet-program-img.png", alt="")
          img.zachet-program-imgcont__img(src="assets/images/zachet-program-img1.png", alt="")
          img.zachet-program-imgcont__img(src="assets/images/zachet-program-img2.png", alt="")
          img.zachet-program-imgcont__img(src="assets/images/zachet-program-img3.png", alt="")
        p.zachet-program__text Если Вы хотите приобрести новую квартиру и <strong>продать имеющуюся недвижимость</strong>, готовы внести в качестве первого взноса 15%-20% от стоимости новой квартиры, то предлагаем рассмотреть программы на 3 и 6 месяцев. 
        .zachet-program-block.zachet-program-block_1
          .zachet-program-block__title <span>1. «Экспресс-продажа» — цена квартиры</span> как при 100% оплате
          .zachet-program-block__btndwn
            <svg width="32" height="17" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 32 17"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Path 7291</title><path d="M0.31299,1.5v0l15.34375,14.84338v0l15.34326,-14.84338v0" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="round" stroke-opacity="1" stroke="#fd7800" stroke-miterlimit="50" stroke-width="1"></path></g></g></svg>
          .zachet-program-block-card
            .zachet-program-block-card-item.zachet-program-block-card-item_1
              .zachet-program-block-card-item__bg
                <?xml version="1.0" encoding="UTF-8"?>  
                <svg id="SVGDoc" width="267" height="166" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 267 166"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Group 4360</title><g><title>Path 7294</title><path d="M143.17035,11.32928c30.54353,-6.31007 63.95745,1.51864 93.66888,21.94621c12.29444,8.45223 25.1266,21.09812 28.32449,38.67086c3.49771,19.21229 -6.00086,35.98256 -16.61793,47.00416c-24.78805,25.73564 -57.5101,35.57347 -89.93878,41.39835c-24.47993,4.39783 -49.65506,6.81904 -74.99027,0.95178c-25.3352,-5.8672 -51.05718,-20.69981 -70.20071,-46.27518c-5.33528,-7.12814 -10.28223,-15.45541 -11.97309,-24.89703c-1.93408,-10.79518 0.77526,-21.57546 5.61882,-29.32001c4.84333,-7.74566 11.61652,-12.85454 18.57298,-17.08093c22.80302,-13.85428 48.48119,-19.46731 73.86831,-24.9664c28.2039,-6.10849 57.38757,-12.16498 86.59649,-2.19576" fill="#e3f2f0" fill-opacity="1"></path><path d="M143.17035,11.32928c30.54353,-6.31007 63.95745,1.51864 93.66888,21.94621c12.29444,8.45223 25.1266,21.09812 28.32449,38.67086c3.49771,19.21229 -6.00086,35.98256 -16.61793,47.00416c-24.78805,25.73564 -57.5101,35.57347 -89.93878,41.39835c-24.47993,4.39783 -49.65506,6.81904 -74.99027,0.95178c-25.3352,-5.8672 -51.05718,-20.69981 -70.20071,-46.27518c-5.33528,-7.12814 -10.28223,-15.45541 -11.97309,-24.89703c-1.93408,-10.79518 0.77526,-21.57546 5.61882,-29.32001c4.84333,-7.74566 11.61652,-12.85454 18.57298,-17.08093c22.80302,-13.85428 48.48119,-19.46731 73.86831,-24.9664c28.2039,-6.10849 57.38757,-12.16498 86.59649,-2.19576" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="1"></path></g><g><title>Path 7295</title><path d="M139.29517,6.0201c28.92949,-9.18124 61.6254,-4.88844 91.65616,12.03397c12.42651,7.00186 25.66848,18.03139 29.99413,34.81471c4.73063,18.34905 -3.21284,35.61522 -12.64099,47.39815c-22.01205,27.51311 -52.78611,40.34439 -83.56331,49.24109c-23.23324,6.71668 -47.27576,11.57894 -72.06167,8.39085c-24.78593,-3.18802 -50.58148,-15.06262 -70.81351,-38.04678c-5.63877,-6.40593 -10.98923,-14.01754 -13.28701,-23.03776c-2.62807,-10.31324 -0.78878,-21.0742 3.31917,-29.09324c4.10769,-8.0201 10.25911,-13.66623 16.64962,-18.47179c20.94779,-15.75268 45.24711,-23.77124 69.27463,-31.64996c26.69347,-8.75218 54.33302,-17.55127 83.13661,-10.75679" fill="#e3f2f0" fill-opacity="1"></path><path d="M139.29517,6.0201c28.92949,-9.18124 61.6254,-4.88844 91.65616,12.03397c12.42651,7.00186 25.66848,18.03139 29.99413,34.81471c4.73063,18.34905 -3.21284,35.61522 -12.64099,47.39815c-22.01205,27.51311 -52.78611,40.34439 -83.56331,49.24109c-23.23324,6.71668 -47.27576,11.57894 -72.06167,8.39085c-24.78593,-3.18802 -50.58148,-15.06262 -70.81351,-38.04678c-5.63877,-6.40593 -10.98923,-14.01754 -13.28701,-23.03776c-2.62807,-10.31324 -0.78878,-21.0742 3.31917,-29.09324c4.10769,-8.0201 10.25911,-13.66623 16.64962,-18.47179c20.94779,-15.75268 45.24711,-23.77124 69.27463,-31.64996c26.69347,-8.75218 54.33302,-17.55127 83.13661,-10.75679" fill-opacity="0" fill="#ffffff" stroke-dashoffset="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="1"></path></g></g></g></svg>
              img.zachet-program-block-card-item__img(src="assets/images/blue-img-1.png", alt="")
              p.zachet-program-block-card-item__text Обращение клиента в ГК «КВС»
              p.zachet-program-block-card-item__num 1