extend ../common/main.pug
block title 
 | Главная | Finnkoti
block content
  .wrapper
    section.first
      .first-desc
        h3.first-desc__subtitle Проектирование и строительство
        h1.first-desc__title Энергоэффективные<br>
          span дома
        p.first-desc__text Мы разрабатываем, изготавливаем и продаем загородные каркасные, панельно-каркасные дома и коттеджи, таунхаусы и многоквартирные дома
      .first-linkblock
        a.first-linkblock__link(href="#")
          <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.32095 0.944196C6.12508 0.915178 5.45042 0.857142 4.66693 0.857142C3.02742 0.857142 1.90298 1.85826 1.90298 3.69364V5.27511H0.0530939V7.42243H1.90298V12.9286H4.12285V7.42243H5.96548L6.24841 5.27511H4.12285V3.90402C4.12285 3.28739 4.2897 2.85937 5.182 2.85937H6.32095V0.944196Z" fill="white"/>
          </svg>
        a.first-linkblock__link(href="#")
          <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2156 1.20149C11.7949 1.38285 11.3378 1.51343 10.8663 1.56421C11.3523 1.27403 11.7223 0.816999 11.8964 0.272914C11.4466 0.541329 10.9388 0.7372 10.4092 0.838762C9.98124 0.381731 9.37186 0.098807 8.6972 0.098807C7.39865 0.098807 6.354 1.1507 6.354 2.442C6.354 2.62336 6.37577 2.80472 6.41204 2.97883C4.46784 2.87727 2.73403 1.9487 1.58057 0.52682C1.37744 0.875034 1.26137 1.27403 1.26137 1.7093C1.26137 2.5218 1.67487 3.23999 2.30601 3.66075C1.92153 3.64624 1.5588 3.53742 1.24686 3.36332C1.24686 3.37057 1.24686 3.38508 1.24686 3.39233C1.24686 4.53128 2.05211 5.47437 3.12577 5.692C2.9299 5.74278 2.71952 5.7718 2.50914 5.7718C2.35679 5.7718 2.2117 5.75729 2.06662 5.73553C2.36405 6.6641 3.22733 7.33876 4.25746 7.36053C3.45222 7.99166 2.44385 8.36164 1.34842 8.36164C1.15255 8.36164 0.971191 8.35439 0.782575 8.33262C1.81996 9.00003 3.05322 9.38452 4.38079 9.38452C8.68994 9.38452 11.0476 5.81532 11.0476 2.71767C11.0476 2.61611 11.0476 2.51454 11.0404 2.41298C11.4974 2.07928 11.8964 1.66577 12.2156 1.20149Z" fill="white"/>
          </svg>
        a.first-linkblock__link(href="#")
          <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.15792 6.80947V3.16047L8.66909 4.99585L5.15792 6.80947ZM6.5 0.556117C3.76507 0.556117 1.95145 0.686698 1.95145 0.686698C1.69754 0.715715 1.13895 0.715715 0.645647 1.23804C0.645647 1.23804 0.246652 1.62978 0.13058 2.52933C-0.00725446 3.58123 0 4.63313 0 4.63313V5.61973C0 5.61973 -0.00725446 6.67163 0.13058 7.72353C0.246652 8.61583 0.645647 9.01482 0.645647 9.01482C1.13895 9.52989 1.79185 9.51538 2.08203 9.56616C2.08203 9.56616 3.11942 9.66772 6.5 9.69674C9.23493 9.69674 11.0485 9.55891 11.0485 9.55891C11.3025 9.52989 11.861 9.52989 12.3544 9.01482C12.3544 9.01482 12.7533 8.61583 12.8694 7.72353C13.0073 6.67163 13 5.61973 13 5.61973V4.63313C13 4.63313 13.0073 3.58123 12.8694 2.52933C12.7533 1.62978 12.3544 1.23804 12.3544 1.23804C11.861 0.715715 11.3025 0.715715 11.0485 0.686698C11.0485 0.686698 9.23493 0.556117 6.5 0.556117Z" fill="white"/>
          </svg>
        a.first-linkblock__link(href="#")
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.9327 6.51095C7.9327 7.53383 7.09844 8.36809 6.07556 8.36809C5.05268 8.36809 4.21842 7.53383 4.21842 6.51095C4.21842 5.48807 5.05268 4.65381 6.07556 4.65381C7.09844 4.65381 7.9327 5.48807 7.9327 6.51095ZM8.93382 6.51095C8.93382 4.92948 7.65703 3.65269 6.07556 3.65269C4.49409 3.65269 3.2173 4.92948 3.2173 6.51095C3.2173 8.09242 4.49409 9.36921 6.07556 9.36921C7.65703 9.36921 8.93382 8.09242 8.93382 6.51095ZM9.7173 3.53662C9.7173 3.16664 9.41987 2.86921 9.04989 2.86921C8.67991 2.86921 8.38248 3.16664 8.38248 3.53662C8.38248 3.9066 8.67991 4.20403 9.04989 4.20403C9.41987 4.20403 9.7173 3.9066 9.7173 3.53662ZM6.07556 1.94064C6.88806 1.94064 8.62913 1.87535 9.36183 2.16553C9.61574 2.26709 9.80436 2.39042 10.0002 2.58629C10.1961 2.78216 10.3194 2.97077 10.421 3.22468C10.7112 3.95738 10.6459 5.69845 10.6459 6.51095C10.6459 7.32345 10.7112 9.06452 10.421 9.79722C10.3194 10.0511 10.1961 10.2397 10.0002 10.4356C9.80436 10.6315 9.61574 10.7548 9.36183 10.8564C8.62913 11.1466 6.88806 11.0813 6.07556 11.0813C5.26306 11.0813 3.52199 11.1466 2.78929 10.8564C2.53538 10.7548 2.34677 10.6315 2.1509 10.4356C1.95502 10.2397 1.8317 10.0511 1.73014 9.79722C1.43996 9.06452 1.50525 7.32345 1.50525 6.51095C1.50525 5.69845 1.43996 3.95738 1.73014 3.22468C1.8317 2.97077 1.95502 2.78216 2.1509 2.58629C2.34677 2.39042 2.53538 2.26709 2.78929 2.16553C3.52199 1.87535 5.26306 1.94064 6.07556 1.94064ZM11.647 6.51095C11.647 5.74198 11.6542 4.98026 11.6107 4.21129C11.5672 3.31899 11.3641 2.52825 10.7112 1.87535C10.0583 1.22245 9.26753 1.01932 8.37523 0.975795C7.60625 0.932268 6.84453 0.939522 6.07556 0.939522C5.30659 0.939522 4.54487 0.932268 3.7759 0.975795C2.8836 1.01932 2.09286 1.22245 1.43996 1.87535C0.787056 2.52825 0.583931 3.31899 0.540404 4.21129C0.496877 4.98026 0.504132 5.74198 0.504132 6.51095C0.504132 7.27992 0.496877 8.04164 0.540404 8.81062C0.583931 9.70292 0.787056 10.4937 1.43996 11.1466C2.09286 11.7995 2.8836 12.0026 3.7759 12.0461C4.54487 12.0896 5.30659 12.0824 6.07556 12.0824C6.84453 12.0824 7.60625 12.0896 8.37523 12.0461C9.26753 12.0026 10.0583 11.7995 10.7112 11.1466C11.3641 10.4937 11.5672 9.70292 11.6107 8.81062C11.6542 8.04164 11.647 7.27992 11.647 6.51095Z" fill="white"/>
          </svg>
        a.first-linkblock__link(href="#")
          <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.436711 4.72663C0.436711 5.67697 0.813943 7.06257 1.85133 7.37451C1.8876 7.38177 1.93839 7.39627 1.97466 7.39627C2.21406 7.39627 2.35189 6.72886 2.35189 6.54025C2.35189 6.31536 1.77879 5.83656 1.77879 4.90074C1.77879 2.95654 3.2587 1.57819 5.17388 1.57819C6.82064 1.57819 8.03939 2.51402 8.03939 4.23333C8.03939 5.51737 7.52432 7.92585 5.8558 7.92585C5.25368 7.92585 4.73861 7.49058 4.73861 6.8667C4.73861 5.95264 5.377 5.06759 5.377 4.12451C5.377 3.55141 5.05055 3.08712 4.44118 3.08712C3.61417 3.08712 3.10635 4.01569 3.10635 4.7484C3.10635 5.15465 3.15714 5.60442 3.3385 5.9744C3.00479 7.41078 2.32287 9.55085 2.32287 11.0308C2.32287 11.4878 2.38816 11.9376 2.43169 12.3946L2.49698 12.4671L2.59854 12.4309C3.81729 10.7623 3.77376 10.4359 4.3251 8.2523C4.62254 8.81815 5.39151 9.12284 6.00089 9.12284C8.56897 9.12284 9.72243 6.62005 9.72243 4.36391C9.72243 1.96268 7.64765 0.395716 5.36975 0.395716C2.88872 0.395716 0.436711 2.04973 0.436711 4.72663Z" fill="white"/>
          </svg>
    section.second.w1440
      h1.title-36 О компании
      .second-block
        .second-block-desc
          p.second-block-desc__text Свою работу компания Finnkoti начала в 2017 году в партнерстве с ведущими финскими производителями домов. Так родилась идея сделать финские дома доступными, не теряя качества. Имея колоссальный опыт строительства финских домов, понимая технологии строительства и производства качественных домов, оценивая этот шаг, как вклад в развитие внутреннего потенциала нашей страны, мы решили построить производство на территории РФ. Дома Finnkoti производятся по исключительным финским технологиям.
          p.second-block-desc__text Слаженная работа молодого коллектива способствовала стремительному развитию нашей компании.
          a(href="#").second-block-desc__link Читать полностью
            <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L4 3.83286L1 7" stroke="black" stroke-opacity="0.5"/>
              <path d="M5.5 1L8.5 3.83286L5.5 7" stroke="black" stroke-opacity="0.5"/>
            </svg>  
        .second-block-images
          img.second-block-images__img.second-block-images__img-1(src="assets/images/second-block-house-1.png", alt="")
          .second-block-images-right
            img.second-block-images__img(src="assets/images/second-block-house-2.png", alt="")
            img.second-block-images__img(src="assets/images/second-block-house-3.png", alt="")
    section.third.w1440
      h1.third__title Надежная команда
      h2.third__subtitle Качество и надежность построенных домов обеспечиваются командой профессионалов, контролирующих проектирование и строительство на каждом этапе.
      .third-block
        .third-block-card
          .third-block-card-imgblock
            img(src="assets/images/man-1.png", alt="man 1")
          .third-block-card-desc
            p.third-block-card-desc__name Алексей Иванов
            p.third-block-card-desc__pos Инженер-технолог, стаж 23 года
            p.third-block-card-desc__desc Инженер-технолог выбирает оборудование, на котором следует осуществлять технологический процесс, оптимальные режимы работы, основные методы контроля качества, ведёт технологическую документацию.
            .third-block-card-desc-down
              p.third-block-card-desc-down__text Узнайте о правильном и грамотном строительстве:
              a(href="#").general-btn Читать в блоге
        .third-block-card
          .third-block-card-imgblock
            img(src="assets/images/man-2.png", alt="man 2")
          .third-block-card-desc
            p.third-block-card-desc__name Иван Алексеев
            p.third-block-card-desc__pos Архитектор, стаж 23 года
            p.third-block-card-desc__desc Инженер-технолог выбирает оборудование, на котором следует осуществлять технологический процесс, оптимальные режимы работы, основные методы контроля качества, ведёт технологическую документацию.
            .third-block-card-desc-down
              p.third-block-card-desc-down__text Узнайте о правильном и грамотном строительстве:
              a(href="#").general-btn Читать в блоге
    section.fourth.w1440
      h1.title-36 Прозрачность в использовании материалов
      .fourth-slider
        .fourth-slider-item
          .fourth-slider-item-imgblock
            img(src="assets/images/slide-1.png", alt="").fourth-slider-item-imgblock__img
          .fourth-slider-item-desc
            .fourth-slider-item-desc__title Low-energy панели
            .fourth-slider-item-desc__text Это позволяет вам сэкономить на отоплении дома до 50 %. Снижает ваши расходы на содержание дома в процессе его эксплуатации. Благодаря этому вы получаете дополнительные денежные средства, которые можете потратить на себя. Это дает вам огромное преимущество перед домовладельцами, которые не обращают внимания на энергоэффективность, выбирают энергозатратное жилье и всю жизнь топят улицу.
          .fourth-slider-item-images
            img(src="assets/images/slider-mini-1.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-2.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-3.png", alt="").fourth-slider-item-images__img
        .fourth-slider-item
          .fourth-slider-item-imgblock
            img(src="assets/images/slide-1.png", alt="").fourth-slider-item-imgblock__img
          .fourth-slider-item-desc
            .fourth-slider-item-desc__title Low-energy панели1
            .fourth-slider-item-desc__text Это позволяет вам сэкономить на отоплении дома до 50 %. Снижает ваши расходы на содержание дома в процессе его эксплуатации. Благодаря этому вы получаете дополнительные денежные средства, которые можете потратить на себя. Это дает вам огромное преимущество перед домовладельцами, которые не обращают внимания на энергоэффективность, выбирают энергозатратное жилье и всю жизнь топят улицу.
          .fourth-slider-item-images
            img(src="assets/images/slider-mini-1.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-2.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-3.png", alt="").fourth-slider-item-images__img
        .fourth-slider-item
          .fourth-slider-item-imgblock
            img(src="assets/images/slide-1.png", alt="").fourth-slider-item-imgblock__img
          .fourth-slider-item-desc
            .fourth-slider-item-desc__title Low-energy панели2
            .fourth-slider-item-desc__text Это позволяет вам сэкономить на отоплении дома до 50 %. Снижает ваши расходы на содержание дома в процессе его эксплуатации. Благодаря этому вы получаете дополнительные денежные средства, которые можете потратить на себя. Это дает вам огромное преимущество перед домовладельцами, которые не обращают внимания на энергоэффективность, выбирают энергозатратное жилье и всю жизнь топят улицу.
          .fourth-slider-item-images
            img(src="assets/images/slider-mini-1.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-2.png", alt="").fourth-slider-item-images__img
            img(src="assets/images/slider-mini-3.png", alt="").fourth-slider-item-images__img
      .fourth-arrow
        .fourth-arrow__prev
          <svg width="49" height="24" viewBox="0 0 49 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 12H47M47 12L33.0342 1M47 12L33.0342 23" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        .fourth-arrow__next
          <svg width="49" height="24" viewBox="0 0 49 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 12H47M47 12L33.0342 1M47 12L33.0342 23" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
    section.fifth.w1440
      h1.title-36 Каталог проектов и домов
      form(action="", method="get").fifth-form
        .fifth-wrap
          .finnkoti-swap
            label
              input#finnkoti(type="radio", name="finnkoti" checked)
              p.finnkoti-swap__finn.finnkoti-swap__finnfull Finnkoti
            label
              input#finnkoti_lite(type="radio", name="finnkoti")
              p.finnkoti-swap__finn.finnkoti-swap__finnlite Finnkoti Lite
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="7.5" cy="7.5" r="7.5" fill="black" fill-opacity="0.25"/>
                  <path d="M7.02505 11.0181C6.63232 11.0181 6.43596 10.7891 6.43596 10.3309C6.43596 10.2081 6.45641 10.0363 6.49732 9.81542L7.0005 7.26269C7.02505 7.14815 7.03732 7.05406 7.03732 6.98042C7.03732 6.87406 7.01687 6.79633 6.97596 6.74724C6.93505 6.68997 6.88187 6.66133 6.81641 6.66133C6.6446 6.66133 6.41141 6.82497 6.11687 7.15224C6.10869 7.16042 6.09641 7.16451 6.08005 7.16451C6.04732 7.16451 6.02278 7.15224 6.00641 7.12769C5.99005 7.09497 5.99005 7.06633 6.00641 7.04178C6.30096 6.69815 6.56687 6.4486 6.80414 6.29315C7.04141 6.13769 7.2746 6.05997 7.50369 6.05997C7.89641 6.05997 8.09278 6.27269 8.09278 6.69815C8.09278 6.83724 8.07641 6.97633 8.04369 7.11542L7.52823 9.81542C7.51187 9.88906 7.50369 9.98315 7.50369 10.0977C7.50369 10.2941 7.56505 10.3922 7.68778 10.3922C7.7696 10.3922 7.8596 10.3554 7.95778 10.2818C8.06414 10.2081 8.19096 10.1018 8.33823 9.96269C8.3546 9.94633 8.37096 9.93815 8.38732 9.93815C8.41187 9.93815 8.43232 9.95451 8.44869 9.98724C8.46505 10.0118 8.46096 10.0363 8.43641 10.0609C8.15823 10.3881 7.90869 10.6295 7.68778 10.785C7.47505 10.9404 7.25414 11.0181 7.02505 11.0181ZM7.84732 4.7836C7.6346 4.7836 7.46278 4.72224 7.33187 4.59951C7.20914 4.4686 7.14778 4.29269 7.14778 4.07178C7.14778 3.87542 7.20914 3.71588 7.33187 3.59315C7.46278 3.47042 7.6346 3.40906 7.84732 3.40906C8.06005 3.40906 8.22369 3.47042 8.33823 3.59315C8.46096 3.71588 8.52232 3.87542 8.52232 4.07178C8.52232 4.30088 8.46096 4.47678 8.33823 4.59951C8.22369 4.72224 8.06005 4.7836 7.84732 4.7836Z" fill="white"/>
                </svg>
          .search-form-main-col-row
            .search-form-main-col-row-select
              select(name="" multiple placeholder="Этажность")
                option 1 этаж
                option 2 этажа
                option 3 этажа
                option 4 этажа
            .search-form-main-col-row-select
              select(name="" multiple placeholder="Комнаты")
                option 1 комната
                option 2 комнаты
                option 3 комнаты
                option 4 комнаты
            .search-form-main-col-row-select
              select(name="" placeholder="Сортировать по")
                option По возрастанию
                option По убыванию
        .fifth-check
          .check-item
            label(for="garage")
              p Наличие гаража
              input#garage(type="checkbox", name="gar1")
              span
                div
          .check-item
            label(for="sklon")
              p Дом на склоне
              input#sklon(type="checkbox", name="sklon")
              span
                div
          .check-item
            label(for="stock")
              p Акция
              input#stock(type="checkbox", name="akciya")
              span
                div
      .house-wrap
        include ../common/house-wrap-item.pug
        include ../common/house-wrap-item.pug
        include ../common/house-wrap-item.pug
        include ../common/house-wrap-item.pug
        include ../common/house-wrap-item.pug
        include ../common/house-wrap-item.pug
      a(href="#").general-btn.fifth-btnor Смотреть каталог
      p.fifth__or или
      .fifth-test
        .fifth-test-left
          img(src="assets/images/dom.png", alt="").fifth-test-left__img
        .fifth-test-right
          .fifth-test-right__line
          h3.fifth-test-right__title Ответь на 5 вопросов и узнай какой дом подходит именно тебе
          p.fifth-test-right__subtitle В конце теста тебя ждет подарок: каталог домов 2019 года
          a(href="#").fifth-test-right__link Пройти тест
      .fifth-review
        h3.title-36 Отзывы
        .fifth-review-arrow
          .fifth-review-arrow__arr_prev.fifth-review-arrow__arr
            <svg width="35" height="8" viewBox="0 0 35 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34.3536 4.35355C34.5488 4.15829 34.5488 3.84171 34.3536 3.64645L31.1716 0.464466C30.9763 0.269204 30.6597 0.269204 30.4645 0.464466C30.2692 0.659728 30.2692 0.976311 30.4645 1.17157L33.2929 4L30.4645 6.82843C30.2692 7.02369 30.2692 7.34027 30.4645 7.53553C30.6597 7.7308 30.9763 7.7308 31.1716 7.53553L34.3536 4.35355ZM0 4.5H34V3.5H0V4.5Z" fill="black"/>
            </svg>
          .fifth-review-arrow__arr_next.fifth-review-arrow__arr
            <svg width="35" height="8" viewBox="0 0 35 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34.3536 4.35355C34.5488 4.15829 34.5488 3.84171 34.3536 3.64645L31.1716 0.464466C30.9763 0.269204 30.6597 0.269204 30.4645 0.464466C30.2692 0.659728 30.2692 0.976311 30.4645 1.17157L33.2929 4L30.4645 6.82843C30.2692 7.02369 30.2692 7.34027 30.4645 7.53553C30.6597 7.7308 30.9763 7.7308 31.1716 7.53553L34.3536 4.35355ZM0 4.5H34V3.5H0V4.5Z" fill="black"/>
            </svg>
        .fifth-review-wrap
          .fifth-review-wrap-item
            .fifth-review-wrap-item-imagebox
              img(src="assets/images/dom-1.png", alt="").fifth-review-wrap-item-imagebox__img
            .fifth-review-wrap-item-desc
              p.fifth-review-wrap-item-desc__name Алексей Иванов 1
              .fifth-review-wrap-item-desc__line 
              p.fifth-review-wrap-item-desc__review Как у всех людей, решающих строить свой первый дом, главный вопрос – из какого материала? Как и многие, рассматривали четыре альтернативы - газобетон, кирпич, клееный брус, каркас...
              a(href="#").fifth-review-wrap-item-desc__link Читать далее
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 4H12M12 4L7 7M12 4L7 1" stroke="black" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .fifth-review-wrap-item-desc__zap 
                <svg width="94" height="87" viewBox="0 0 94 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.4726 3.83519V19.4565C40.4726 21.5751 38.7482 23.2917 36.6208 23.2917C29.0309 23.2917 24.9023 31.0444 24.3301 46.3458H36.6208C38.7482 46.3458 40.4726 48.064 40.4726 50.1818V83.1653C40.4726 85.2829 38.7482 86.9997 36.6208 86.9997H3.85098C1.72286 86.9997 0 85.2815 0 83.1653V50.1818C0 42.8466 0.741599 36.1154 2.20352 30.1728C3.70288 24.0796 6.00442 18.752 9.04218 14.3375C12.168 9.80078 16.0779 6.24074 20.6643 3.76064C25.2817 1.26553 30.6512 0 36.6222 0C38.7482 0 40.4726 1.7166 40.4726 3.83519ZM90.1479 23.2919C92.2742 23.2919 94 21.5737 94 19.4568V3.83546C94 1.71687 92.2745 0.000268029 90.1479 0.000268029C84.1793 0.000268029 78.8091 1.26606 74.1933 3.76091C69.6061 6.24101 65.694 9.80105 62.5677 14.3378C59.531 18.7523 57.2294 24.0801 55.7298 30.1747C54.2687 36.1191 53.5271 42.8503 53.5271 50.182V83.1656C53.5271 85.2831 55.2521 87 57.3789 87H90.1477C92.2739 87 93.9981 85.2818 93.9981 83.1656V50.1818C93.9981 48.0642 92.2742 46.3458 90.1477 46.3458H78.0322C78.5958 31.0447 82.6641 23.2919 90.1479 23.2919Z" fill="#4479BC" fill-opacity="0.2"/>
                </svg>
              .fifth-review-wrap-item-desc__who Проект SnowBall
          .fifth-review-wrap-item
            .fifth-review-wrap-item-imagebox
              img(src="assets/images/dom.png", alt="").fifth-review-wrap-item-imagebox__img
            .fifth-review-wrap-item-desc
              p.fifth-review-wrap-item-desc__name Алексей Иванов 2
              .fifth-review-wrap-item-desc__line 
              p.fifth-review-wrap-item-desc__review Как у всех людей, решающих строить свой первый дом, главный вопрос – из какого материала? Как и многие, рассматривали четыре альтернативы - газобетон, кирпич, клееный брус, каркас...
              a(href="#").fifth-review-wrap-item-desc__link Читать далее
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 4H12M12 4L7 7M12 4L7 1" stroke="black" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .fifth-review-wrap-item-desc__zap 
                <svg width="94" height="87" viewBox="0 0 94 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.4726 3.83519V19.4565C40.4726 21.5751 38.7482 23.2917 36.6208 23.2917C29.0309 23.2917 24.9023 31.0444 24.3301 46.3458H36.6208C38.7482 46.3458 40.4726 48.064 40.4726 50.1818V83.1653C40.4726 85.2829 38.7482 86.9997 36.6208 86.9997H3.85098C1.72286 86.9997 0 85.2815 0 83.1653V50.1818C0 42.8466 0.741599 36.1154 2.20352 30.1728C3.70288 24.0796 6.00442 18.752 9.04218 14.3375C12.168 9.80078 16.0779 6.24074 20.6643 3.76064C25.2817 1.26553 30.6512 0 36.6222 0C38.7482 0 40.4726 1.7166 40.4726 3.83519ZM90.1479 23.2919C92.2742 23.2919 94 21.5737 94 19.4568V3.83546C94 1.71687 92.2745 0.000268029 90.1479 0.000268029C84.1793 0.000268029 78.8091 1.26606 74.1933 3.76091C69.6061 6.24101 65.694 9.80105 62.5677 14.3378C59.531 18.7523 57.2294 24.0801 55.7298 30.1747C54.2687 36.1191 53.5271 42.8503 53.5271 50.182V83.1656C53.5271 85.2831 55.2521 87 57.3789 87H90.1477C92.2739 87 93.9981 85.2818 93.9981 83.1656V50.1818C93.9981 48.0642 92.2742 46.3458 90.1477 46.3458H78.0322C78.5958 31.0447 82.6641 23.2919 90.1479 23.2919Z" fill="#4479BC" fill-opacity="0.2"/>
                </svg>
              .fifth-review-wrap-item-desc__who Проект SnowBall
          .fifth-review-wrap-item
            .fifth-review-wrap-item-imagebox
              img(src="assets/images/dom-1.png", alt="").fifth-review-wrap-item-imagebox__img
            .fifth-review-wrap-item-desc
              p.fifth-review-wrap-item-desc__name Алексей Иванов 3
              .fifth-review-wrap-item-desc__line 
              p.fifth-review-wrap-item-desc__review Как у всех людей, решающих строить свой первый дом, главный вопрос – из какого материала? Как и многие, рассматривали четыре альтернативы - газобетон, кирпич, клееный брус, каркас...
              a(href="#").fifth-review-wrap-item-desc__link Читать далее
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 4H12M12 4L7 7M12 4L7 1" stroke="black" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              .fifth-review-wrap-item-desc__zap 
                <svg width="94" height="87" viewBox="0 0 94 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.4726 3.83519V19.4565C40.4726 21.5751 38.7482 23.2917 36.6208 23.2917C29.0309 23.2917 24.9023 31.0444 24.3301 46.3458H36.6208C38.7482 46.3458 40.4726 48.064 40.4726 50.1818V83.1653C40.4726 85.2829 38.7482 86.9997 36.6208 86.9997H3.85098C1.72286 86.9997 0 85.2815 0 83.1653V50.1818C0 42.8466 0.741599 36.1154 2.20352 30.1728C3.70288 24.0796 6.00442 18.752 9.04218 14.3375C12.168 9.80078 16.0779 6.24074 20.6643 3.76064C25.2817 1.26553 30.6512 0 36.6222 0C38.7482 0 40.4726 1.7166 40.4726 3.83519ZM90.1479 23.2919C92.2742 23.2919 94 21.5737 94 19.4568V3.83546C94 1.71687 92.2745 0.000268029 90.1479 0.000268029C84.1793 0.000268029 78.8091 1.26606 74.1933 3.76091C69.6061 6.24101 65.694 9.80105 62.5677 14.3378C59.531 18.7523 57.2294 24.0801 55.7298 30.1747C54.2687 36.1191 53.5271 42.8503 53.5271 50.182V83.1656C53.5271 85.2831 55.2521 87 57.3789 87H90.1477C92.2739 87 93.9981 85.2818 93.9981 83.1656V50.1818C93.9981 48.0642 92.2742 46.3458 90.1477 46.3458H78.0322C78.5958 31.0447 82.6641 23.2919 90.1479 23.2919Z" fill="#4479BC" fill-opacity="0.2"/>
                </svg>
              .fifth-review-wrap-item-desc__who Проект SnowBall
    section.stages.w1440
      h1.title-36 Этапы работ
      .stages-slider
        .stages-slider-item
          .stages-slider-item-imagebox
            img(src="assets/images/plan.png", alt="").stages-slider-item-imagebox__img
          .stages-slider-item-desc
            h4.stages-slider-item-desc__title Выбор проекта дома.
              span.stages-slider-item-desc__num 
            p.stages-slider-item-desc__text Строительство дома – важный и очень ответственный шаг в жизни. Чтобы не было впоследствии мучительно больно от того, что не все предусмотрели, проект дома лучше выбирать с помощью специалиста. Возможно, вам нужен дом значительно меньше, чем вы думали и все пожелания по спальням, кабинетам и сауне можно разместить более эргономично. <br>Сколько комнат выбрать? Лучше одноэтажный или двухэтажный дом? Какая планировка дешевле? Что предусмотреть на будущее? На эти и еще множество других вопросов вам ответит наш специалист на встрече в офисе. 
        .stages-slider-item
          .stages-slider-item-imagebox
            img(src="assets/images/plan.png", alt="").stages-slider-item-imagebox__img
          .stages-slider-item-desc
            h4.stages-slider-item-desc__title Выбор проекта дома.
              span.stages-slider-item-desc__num 
            p.stages-slider-item-desc__text Строительство дома – важный и очень ответственный шаг в жизни. Чтобы не было впоследствии мучительно больно от того, что не все предусмотрели, проект дома лучше выбирать с помощью специалиста. Возможно, вам нужен дом значительно меньше, чем вы думали и все пожелания по спальням, кабинетам и сауне можно разместить более эргономично. <br>Сколько комнат выбрать? Лучше одноэтажный или двухэтажный дом? Какая планировка дешевле? Что предусмотреть на будущее? На эти и еще множество других вопросов вам ответит наш специалист на встрече в офисе. 
        .stages-slider-item
          .stages-slider-item-imagebox
            img(src="assets/images/plan.png", alt="").stages-slider-item-imagebox__img
          .stages-slider-item-desc
            h4.stages-slider-item-desc__title Выбор проекта дома.
              span.stages-slider-item-desc__num 
            p.stages-slider-item-desc__text Строительство дома – важный и очень ответственный шаг в жизни. Чтобы не было впоследствии мучительно больно от того, что не все предусмотрели, проект дома лучше выбирать с помощью специалиста. Возможно, вам нужен дом значительно меньше, чем вы думали и все пожелания по спальням, кабинетам и сауне можно разместить более эргономично. <br>Сколько комнат выбрать? Лучше одноэтажный или двухэтажный дом? Какая планировка дешевле? Что предусмотреть на будущее? На эти и еще множество других вопросов вам ответит наш специалист на встрече в офисе. 
        .stages-slider-item
          .stages-slider-item-imagebox
            img(src="assets/images/plan.png", alt="").stages-slider-item-imagebox__img
          .stages-slider-item-desc
            h4.stages-slider-item-desc__title Выбор проекта дома.
              span.stages-slider-item-desc__num 
            p.stages-slider-item-desc__text Строительство дома – важный и очень ответственный шаг в жизни. Чтобы не было впоследствии мучительно больно от того, что не все предусмотрели, проект дома лучше выбирать с помощью специалиста. Возможно, вам нужен дом значительно меньше, чем вы думали и все пожелания по спальням, кабинетам и сауне можно разместить более эргономично. <br>Сколько комнат выбрать? Лучше одноэтажный или двухэтажный дом? Какая планировка дешевле? Что предусмотреть на будущее? На эти и еще множество других вопросов вам ответит наш специалист на встрече в офисе. 
    section.safe.w1440
      h1.title-36 Сроки и гарантии
      .safe-wrap
        .safe-wrap-left
          .safe-wrap-left-item
            .safe-wrap-left-item__ellipse
              <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="100" cy="100" r="99.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
              </svg>
            .safe-wrap-left-item__num 4
            .safe-wrap-left-item__title Месяца
            .safe-wrap-left-item__text Средний срок постройки в зависимости от сложности проекта и выбора комплектующих
          .safe-wrap-left-item
            .safe-wrap-left-item__ellipse
              <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="100" cy="100" r="99.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
              </svg>
            .safe-wrap-left-item__num 10
            .safe-wrap-left-item__title Лет
            .safe-wrap-left-item__text Гарантия на все несущие конструкции
          .safe-wrap-left-item
            .safe-wrap-left-item__ellipse
              <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="100" cy="100" r="99.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
              </svg>
            .safe-wrap-left-item__num 3
            .safe-wrap-left-item__title Года
            .safe-wrap-left-item__text Гарантия на строительно-монтажные работы
          .safe-wrap-left-item
            img(src="assets/images/kot1.png", alt="").safe-wrap-left-item__img
        .safe-wrap-right
          <svg width="634" height="634" viewBox="0 0 634 634" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle cx="317.5" cy="316.5" r="217" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
            <circle cx="317" cy="317" r="316.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
            <circle cx="479" cy="442" r="67" fill="url(#paint0_radial)"/>
            <circle cx="109" cy="376" r="47" fill="url(#paint1_radial)"/>
            <circle cx="482.5" cy="47.5" r="11.5" fill="url(#paint2_radial)"/>
            <circle cx="590" cy="260" r="19" fill="url(#paint3_radial)"/>
            <rect x="143" y="44" width="456" height="465" fill="url(#pattern0)"/>
            <defs>
            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-0.160088 -0.192005) scale(0.000580044)"/>
            </pattern>
            <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(479 442) rotate(90) scale(67)">
            <stop stop-color="#4479BC"/>
            <stop offset="1" stop-color="#0098CE"/>
            </radialGradient>
            <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(109 376) rotate(90) scale(47)">
            <stop stop-color="#4479BC"/>
            <stop offset="1" stop-color="#0098CE"/>
            </radialGradient>
            <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(482.5 47.5) rotate(90) scale(11.5)">
            <stop stop-color="#4479BC"/>
            <stop offset="1" stop-color="#0098CE"/>
            </radialGradient>
            <radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(590 260) rotate(90) scale(19)">
            <stop stop-color="#4479BC"/>
            <stop offset="1" stop-color="#0098CE"/>
            </radialGradient>
            </defs>
          </svg>
          img(src="assets/images/document.png", alt="").safe-wrap-right__img