extend ../common/main.pug
block title 
 | Карточка | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.card.w1440
      .card-slider
        .card-slider-prev
          <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1L0.999999 12L12 23" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .card-slider-next
          <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L12 12L1 23" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .card-slider-wrap
          .card-slider-item
            img(src="assets/images/home-123.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-122.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-123.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-123.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-122.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-123.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-123.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
          .card-slider-item
            img(src="assets/images/home-122.png", alt="").card-slider-item__img
            .card-slider-item__look
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" fill="white" stroke="#CCCCCC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7229 16.2951C20.6467 16.4295 18.8245 19.5999 16.0003 19.5999C13.1617 19.5999 11.3527 16.4277 11.2771 16.2933C11.1751 16.1115 11.1745 15.8901 11.2759 15.7083C11.3509 15.5733 13.1473 12.3999 16.0003 12.3999C18.8389 12.3999 20.6479 15.5721 20.7235 15.7071C20.8261 15.8895 20.8255 16.1127 20.7229 16.2951ZM19.491 15.9999C19.0218 15.3009 17.7036 13.5999 16.0002 13.5999C14.2878 13.5999 12.975 15.3009 12.5088 15.9993C12.9774 16.6971 14.2956 18.3999 16.0002 18.3999C17.7024 18.3999 19.0206 16.6995 19.491 15.9999Z" fill="#111111"/>
                <path d="M15.9998 17.1998C16.6625 17.1998 17.1998 16.6625 17.1998 15.9998C17.1998 15.3371 16.6625 14.7998 15.9998 14.7998C15.3371 14.7998 14.7998 15.3371 14.7998 15.9998C14.7998 16.6625 15.3371 17.1998 15.9998 17.1998Z" fill="#111111"/>
              </svg>
      .card-desc
        .card-desc__title City 126
        .card-desc__description Энергоэффективный панельно-каркасный дом
        .card-desc__sum от
          span 3 345 000
          | руб
        .card-desc__subsum (в комплектации База)
        .card-desc-advantages
          .card-desc-advantages-item 
            .card-desc-advantages-item__title Площадь
            .card-desc-advantages-item__value
              img(src="assets/images/plosh.svg", alt="")
              | 254 кв.м
          .card-desc-advantages-item
            .card-desc-advantages-item__title Полезная площадь
            .card-desc-advantages-item__value
              img(src="assets/images/superplosh.svg", alt="")
              | 154 кв.м
          .card-desc-advantages-item
            .card-desc-advantages-item__title Этажей
            .card-desc-advantages-item__value
              img(src="assets/images/stairs1.svg", alt="")
              | 1,5 этажа
          .card-desc-advantages-item
            .card-desc-advantages-item__title Комнат
            .card-desc-advantages-item__value
              img(src="assets/images/house.svg", alt="")
              | 6 шт.
        a(href="#").general-btn Запросить смету
        .card-desc-linkblock
          a(href="#").card-desc-linkblock__link
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5649 32C25.1612 32 32.1298 25.0604 32.1298 16.5C32.1298 7.93959 25.1612 1 16.5649 1C7.96865 1 1 7.93959 1 16.5C1 25.0604 7.96865 32 16.5649 32Z" stroke="#E1E1E1"/>
              <path d="M15.0472 25.2973V17.8026H12.3584V14.8243H15.0472V12.4777C15.0472 9.9282 16.7159 8.54053 19.1523 8.54053C20.3196 8.54053 21.3222 8.62235 21.6132 8.65835V11.3224H19.9235C18.5984 11.3224 18.3425 11.9115 18.3425 12.7723V14.8243H21.3328L20.9226 17.8026H18.3425V25.2973" fill="#1A1A1A"/>
              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="12" y="8" width="10" height="18">
              <path d="M15.0472 25.2973V17.8026H12.3584V14.8243H15.0472V12.4777C15.0472 9.9282 16.7159 8.54053 19.1523 8.54053C20.3196 8.54053 21.3222 8.62235 21.6132 8.65835V11.3224H19.9235C18.5984 11.3224 18.3425 11.9115 18.3425 12.7723V14.8243H21.3328L20.9226 17.8026H18.3425V25.2973" fill="white"/>
              </mask>
              <g mask="url(#mask0)">
              </g>
            </svg>
          a(href="#").card-desc-linkblock__link
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5219 32C25.1182 32 32.0868 25.0604 32.0868 16.5C32.0868 7.93959 25.1182 1 16.5219 1C7.92568 1 0.957031 7.93959 0.957031 16.5C0.957031 25.0604 7.92568 32 16.5219 32Z" stroke="#E1E1E1"/>
              <path d="M23.6265 13.506C23.6372 13.6548 23.6372 13.8037 23.6372 13.9526C23.6372 18.4926 20.1672 23.7238 13.8251 23.7238C11.8712 23.7238 10.0561 23.1602 8.5293 22.1821C8.80691 22.214 9.07381 22.2246 9.3621 22.2246C10.9743 22.2246 12.4584 21.6824 13.6436 20.7574C12.1274 20.7254 10.8569 19.7366 10.4191 18.3757C10.6327 18.4075 10.8462 18.4288 11.0704 18.4288C11.38 18.4288 11.6897 18.3863 11.978 18.3119C10.3978 17.9929 9.21259 16.6107 9.21259 14.9414V14.8989C9.67169 15.154 10.2056 15.3135 10.7714 15.3348C9.84252 14.7181 9.23396 13.6655 9.23396 12.4746C9.23396 11.8367 9.40476 11.2519 9.70373 10.7416C11.4014 12.8255 13.9532 14.1864 16.8146 14.3353C16.7612 14.0801 16.7292 13.8144 16.7292 13.5485C16.7292 11.6559 18.2667 10.1143 20.1778 10.1143C21.1708 10.1143 22.0676 10.5289 22.6976 11.1988C23.477 11.0499 24.2244 10.7628 24.8864 10.3694C24.6301 11.1669 24.0856 11.8367 23.3702 12.262C24.0643 12.1876 24.7369 11.9962 25.3562 11.7304C24.8864 12.4108 24.2992 13.0169 23.6265 13.506Z" fill="#1A1A1A"/>
              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="8" y="10" width="18" height="14">
              <path d="M23.6265 13.506C23.6372 13.6548 23.6372 13.8037 23.6372 13.9526C23.6372 18.4926 20.1672 23.7238 13.8251 23.7238C11.8712 23.7238 10.0561 23.1602 8.5293 22.1821C8.80691 22.214 9.07381 22.2246 9.3621 22.2246C10.9743 22.2246 12.4584 21.6824 13.6436 20.7574C12.1274 20.7254 10.8569 19.7366 10.4191 18.3757C10.6327 18.4075 10.8462 18.4288 11.0704 18.4288C11.38 18.4288 11.6897 18.3863 11.978 18.3119C10.3978 17.9929 9.21259 16.6107 9.21259 14.9414V14.8989C9.67169 15.154 10.2056 15.3135 10.7714 15.3348C9.84252 14.7181 9.23396 13.6655 9.23396 12.4746C9.23396 11.8367 9.40476 11.2519 9.70373 10.7416C11.4014 12.8255 13.9532 14.1864 16.8146 14.3353C16.7612 14.0801 16.7292 13.8144 16.7292 13.5485C16.7292 11.6559 18.2667 10.1143 20.1778 10.1143C21.1708 10.1143 22.0676 10.5289 22.6976 11.1988C23.477 11.0499 24.2244 10.7628 24.8864 10.3694C24.6301 11.1669 24.0856 11.8367 23.3702 12.262C24.0643 12.1876 24.7369 11.9962 25.3562 11.7304C24.8864 12.4108 24.2992 13.0169 23.6265 13.506Z" fill="white"/>
              </mask>
              <g mask="url(#mask0)">
              </g>
            </svg>
          a(href="#").card-desc-linkblock__link
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.478 32C25.0742 32 32.0429 25.0604 32.0429 16.5C32.0429 7.93959 25.0742 1 16.478 1C7.88173 1 0.913086 7.93959 0.913086 16.5C0.913086 25.0604 7.88173 32 16.478 32Z" stroke="#E1E1E1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2906 11.6018C22.977 11.7879 23.5176 12.3366 23.7011 13.0332C24.0345 14.2958 24.0345 16.9303 24.0345 16.9303C24.0345 16.9303 24.0345 19.5647 23.7011 20.8273C23.5176 21.524 22.977 22.0497 22.2906 22.2359C21.0464 22.5742 16.0573 22.5742 16.0573 22.5742C16.0573 22.5742 11.0682 22.5742 9.824 22.2359C9.13757 22.0497 8.59695 21.524 8.41346 20.8273C8.08008 19.5647 8.08008 16.9303 8.08008 16.9303C8.08008 16.9303 8.08008 14.2958 8.41346 13.0332C8.59695 12.3366 9.13757 11.788 9.824 11.6018C11.0682 11.2634 16.0573 11.2634 16.0573 11.2634C16.0573 11.2634 21.0464 11.2634 22.2906 11.6018ZM14.4257 14.5385V19.3222L18.5956 16.9304L14.4257 14.5385Z" fill="#1A1A1A"/>
              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="8" y="11" width="17" height="12">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2906 11.6018C22.977 11.7879 23.5176 12.3366 23.7011 13.0332C24.0345 14.2958 24.0345 16.9303 24.0345 16.9303C24.0345 16.9303 24.0345 19.5647 23.7011 20.8273C23.5176 21.524 22.977 22.0497 22.2906 22.2359C21.0464 22.5742 16.0573 22.5742 16.0573 22.5742C16.0573 22.5742 11.0682 22.5742 9.824 22.2359C9.13757 22.0497 8.59695 21.524 8.41346 20.8273C8.08008 19.5647 8.08008 16.9303 8.08008 16.9303C8.08008 16.9303 8.08008 14.2958 8.41346 13.0332C8.59695 12.3366 9.13757 11.788 9.824 11.6018C11.0682 11.2634 16.0573 11.2634 16.0573 11.2634C16.0573 11.2634 21.0464 11.2634 22.2906 11.6018ZM14.4257 14.5385V19.3222L18.5956 16.9304L14.4257 14.5385Z" fill="white"/>
              </mask>
              <g mask="url(#mask0)">
              </g>
            </svg>
          a(href="#").card-desc-linkblock__link
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.435 32C25.0313 32 31.9999 25.0604 31.9999 16.5C31.9999 7.93959 25.0313 1 16.435 1C7.83876 1 0.870117 7.93959 0.870117 16.5C0.870117 25.0604 7.83876 32 16.435 32Z" stroke="#E1E1E1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8556 7.9646C12.3614 7.9646 8.70508 11.6057 8.70508 16.0812C8.70508 20.5566 12.3614 24.1977 16.8556 24.1977C21.3499 24.1977 25.0062 20.5566 25.0062 16.0812C25.0062 11.6057 21.3499 7.9646 16.8556 7.9646ZM22.2446 11.7076C23.2142 12.8873 23.8014 14.3899 23.8167 16.0262C23.5872 15.9779 21.2855 15.513 18.969 15.8031C18.78 15.3435 18.6016 14.9393 18.3572 14.4411C20.9312 13.3946 22.0978 11.9053 22.2446 11.7076ZM17.8219 13.4102C20.2974 12.4861 21.3454 11.0834 21.4706 10.9058C19.7585 9.39318 17.432 8.82165 15.2242 9.35161C15.4167 9.6082 16.6811 11.3229 17.8219 13.4102ZM13.8959 9.81763C14.0794 10.0683 15.3235 11.7851 16.477 13.8271C13.2205 14.6883 10.3523 14.6759 10.0409 14.6718C10.4923 12.5205 11.9482 10.7325 13.8959 9.81763ZM9.89735 15.8799C9.89521 15.9503 9.8938 16.0208 9.8938 16.0917C9.8938 17.8724 10.5716 19.4981 11.6835 20.7272C12.812 18.8035 15.0993 16.7759 17.6167 16.0698C17.442 15.6759 17.2516 15.2817 17.0523 14.8932C13.5756 15.9294 10.2019 15.8861 9.89735 15.8799ZM12.5824 21.561C13.3096 20.0806 15.2832 18.1696 18.0899 17.2161C19.0673 19.7454 19.4715 21.8652 19.575 22.4735C17.3365 23.423 14.6448 23.1625 12.5824 21.561ZM19.3929 16.8958C20.3035 19.3876 20.6741 21.4171 20.7454 21.8388C22.3072 20.7871 23.4191 19.1212 23.7294 17.1921C23.4912 17.1173 21.5745 16.548 19.3929 16.8958Z" fill="#1A1A1A"/>
              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="8" y="7" width="18" height="18">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8556 7.9646C12.3614 7.9646 8.70508 11.6057 8.70508 16.0812C8.70508 20.5566 12.3614 24.1977 16.8556 24.1977C21.3499 24.1977 25.0062 20.5566 25.0062 16.0812C25.0062 11.6057 21.3499 7.9646 16.8556 7.9646ZM22.2446 11.7076C23.2142 12.8873 23.8014 14.3899 23.8167 16.0262C23.5872 15.9779 21.2855 15.513 18.969 15.8031C18.78 15.3435 18.6016 14.9393 18.3572 14.4411C20.9312 13.3946 22.0978 11.9053 22.2446 11.7076ZM17.8219 13.4102C20.2974 12.4861 21.3454 11.0834 21.4706 10.9058C19.7585 9.39318 17.432 8.82165 15.2242 9.35161C15.4167 9.6082 16.6811 11.3229 17.8219 13.4102ZM13.8959 9.81763C14.0794 10.0683 15.3235 11.7851 16.477 13.8271C13.2205 14.6883 10.3523 14.6759 10.0409 14.6718C10.4923 12.5205 11.9482 10.7325 13.8959 9.81763ZM9.89735 15.8799C9.89521 15.9503 9.8938 16.0208 9.8938 16.0917C9.8938 17.8724 10.5716 19.4981 11.6835 20.7272C12.812 18.8035 15.0993 16.7759 17.6167 16.0698C17.442 15.6759 17.2516 15.2817 17.0523 14.8932C13.5756 15.9294 10.2019 15.8861 9.89735 15.8799ZM12.5824 21.561C13.3096 20.0806 15.2832 18.1696 18.0899 17.2161C19.0673 19.7454 19.4715 21.8652 19.575 22.4735C17.3365 23.423 14.6448 23.1625 12.5824 21.561ZM19.3929 16.8958C20.3035 19.3876 20.6741 21.4171 20.7454 21.8388C22.3072 20.7871 23.4191 19.1212 23.7294 17.1921C23.4912 17.1173 21.5745 16.548 19.3929 16.8958Z" fill="white"/>
              </mask>
              <g mask="url(#mask0)">
              </g>
            </svg>  
    .card-slider-nav
      .card-slider-nav-wrap
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-122.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
        .card-slider-nav-imagebox
          img(src="assets/images/home-123.png", alt="").card-slider-nav-imagebox__img
    section.complect
      .title-36 Комплектации
      .complectation

