extend ../common/main.pug
block title 
 | Новости | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.news.w1440
      h1.title-36 Новости
      .news-wrap
        include ../common/news-article.pug
        include ../common/news-article.pug
        include ../common/news-article.pug
      include ../common/pagination.pug

