extend ../common/main.pug
block title 
 | Производство | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.prod.w1440
      h1.title-36 Производство
      .prod-wrap
        .prod-wrap-temp
          .prod-wrap-temp-side.prod-wrap-temp-side_imgmargin
            img(src="assets/images/stanok.png", alt="")
          .prod-wrap-temp-side.prod-wrap-temp-side_firsttext
            h3.prod-wrap-temp-side__title Минимизация человеческого фактора
            p.prod-wrap-temp-side__text Дома Finnkoti только заводского производства. Изготовление дома на заводе исключает ошибки, человеческий фактор и брак.
            p.prod-wrap-temp-side__text Все материалы собираются по профессионально спроектированным шаблонам, учитывая разные типы нагрузок:
            ul.prod-wrap-temp-side-ul
              li  
                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M33.9646 0H1.03517C0.463477 0 0 0.463477 0 1.03517V33.9646C0 34.5363 0.463477 34.9997 1.03517 34.9997H13.1455C13.1479 34.9997 13.1504 35 13.1528 35C13.1547 35 13.1566 34.9997 13.1584 34.9997H33.9646C34.5363 34.9997 34.9997 34.5363 34.9997 33.9646V20.6843C34.9997 20.6834 34.9997 20.6825 34.9997 20.6817V1.03517C34.9997 0.463477 34.5363 0 33.9646 0ZM32.9293 20.1178L30.6383 21.6336L28.8271 18.8653C28.5141 18.3868 27.8724 18.2529 27.3941 18.5657C26.9157 18.8787 26.7816 19.5203 27.0946 19.9987L28.9116 22.776L26.1475 24.6047C25.6707 24.9202 25.5399 25.5624 25.8554 26.0392C26.0546 26.3402 26.3839 26.5033 26.7196 26.5033C26.9158 26.5033 27.1141 26.4476 27.2899 26.3313L32.9294 22.6002V32.9294H13.8453V32.9293L11.6785 27.6733L15.9567 24.6609C16.4242 24.3318 16.5363 23.686 16.2072 23.2186C15.8781 22.7512 15.2322 22.6391 14.7649 22.9681L10.8696 25.7109L9.92523 23.4201C9.70737 22.8915 9.10219 22.6396 8.5737 22.8575C8.04515 23.0755 7.79324 23.6806 8.01117 24.2091L9.4569 27.7161C9.45697 27.7163 9.45704 27.7164 9.45711 27.7167L11.6061 32.9295H2.07033V15.1779L9.54434 10.5441L14.1686 12.9028C14.1704 12.9038 14.1723 12.9047 14.1742 12.9057L19.3071 15.5238C19.4577 15.6006 19.6183 15.6371 19.7766 15.6371C20.1534 15.6371 20.5167 15.4307 20.6996 15.072C20.9593 14.5627 20.757 13.9394 20.2478 13.6795L16.1837 11.6066L17.0626 10.3921H20.1224C20.6941 10.3921 21.1576 9.92858 21.1576 9.35689C21.1576 8.78521 20.6941 8.32173 20.1224 8.32173H16.5339C16.2018 8.32173 15.8899 8.48101 15.6952 8.75L14.317 10.6545L9.96509 8.43473C9.64243 8.27012 9.25716 8.28625 8.94934 8.47704L2.07026 12.7419V2.07033H24.7071L27.1738 6.25174L26.2054 8.45776C25.9756 8.98119 26.2136 9.59191 26.7371 9.82167C26.8725 9.88107 27.0137 9.90931 27.1526 9.90931C27.5509 9.90931 27.9305 9.67805 28.101 9.28997L29.2825 6.59853C29.4163 6.29378 29.3954 5.94323 29.2263 5.65653L27.1107 2.07033H32.9293V20.1178H32.9293Z" fill="black"/>
                </svg>
                p Сейсмические<br>нагрузки
              li  
                <svg width="36" height="33" viewBox="0 0 36 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 28.3548C1 28.3548 4.69565 32 9.5 32C14.3043 32 18 28.3548 18 28.3548C18 28.3548 22.1717 24.7097 26.5 24.7097C30.8283 24.7097 35 28.3548 35 28.3548M1 17.0645C1 17.0645 4.69565 20.7097 9.5 20.7097C14.3043 20.7097 18 17.0645 18 17.0645C18 17.0645 22.1717 13.4194 26.5 13.4194C30.8283 13.4194 35 17.0645 35 17.0645M1 4.64516C1 4.64516 4.69565 8.29032 9.5 8.29032C14.3043 8.29032 18 4.64516 18 4.64516C18 4.64516 22.1717 1 26.5 1C30.8283 1 35 4.64516 35 4.64516" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                p Ветровые<br>нагрузки
              li  
                <svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M30.0605 24.7824L26.2813 22.5987L29.4718 20.6986C29.9848 20.4515 30.1435 19.7627 29.8518 19.2563C29.5549 18.7378 28.9139 18.6284 28.4274 18.912L24.1735 21.4036L17.4128 17.4696L24.1734 13.5762L28.4273 16.0638C28.5602 16.161 28.7311 16.2178 28.9212 16.2178C29.2817 16.2178 29.6047 16.0476 29.8518 15.7235C30.1366 15.2089 29.9847 14.5283 29.4718 14.2812L26.2812 12.3811L30.0604 10.1974C30.553 9.91382 30.7224 9.27774 30.4404 8.75511C30.171 8.25273 29.5046 8.07854 28.9969 8.37429L25.1987 10.5782L25.142 6.77803C25.1331 6.19057 24.6862 5.71653 24.0975 5.71653C23.509 5.71653 23.0487 6.22701 23.0531 6.77803L23.0908 11.7936L16.3683 15.687V7.78679L20.6032 5.37215C21.0976 5.09259 21.313 4.44031 21.0209 3.92988C20.7243 3.4113 20.1155 3.25731 19.5965 3.54906L16.3683 5.3722V1.06144C16.3683 0.473991 15.8934 0 15.3048 0C14.7161 0 14.2603 0.473991 14.2603 1.06144V5.41263L10.9179 3.54901C10.3973 3.26136 9.80458 3.4234 9.51248 3.92983C9.21593 4.44841 9.40027 5.08449 9.91115 5.3721L14.2603 7.82322V15.6465L7.38554 11.6802L7.42363 6.77797C7.48076 6.22701 6.98688 5.71648 6.39822 5.71648H6.36014C5.80952 5.71648 5.32179 6.19052 5.31569 6.77797L5.2776 10.4647L1.57464 8.33775C1.05767 8.03795 0.419582 8.21619 0.150172 8.71452C-0.131833 9.2412 0.0140177 9.86109 0.530194 10.1609L4.27124 12.3243L1.00464 14.2812C0.492057 14.5283 0.332011 15.217 0.644006 15.7235C0.844939 16.0517 1.13749 16.2178 1.53651 16.2178C1.74514 16.2178 1.91893 16.1651 2.08707 16.0638L6.36009 13.5398L13.2159 17.4696L6.36009 21.44L2.08707 18.912C1.57414 18.6122 0.912966 18.754 0.643956 19.2563C0.361951 19.779 0.515099 20.4069 1.00454 20.6986L4.27119 22.6352L0.530095 24.8189C0.0151674 25.1187 -0.151777 25.7507 0.150072 26.2652C0.361201 26.6218 0.644006 26.796 1.04267 26.796C1.13749 26.796 1.32748 26.7393 1.57464 26.6421L5.2776 24.5151L5.31569 28.2018C5.32179 28.7893 5.80952 29.243 6.36014 29.243H6.39822C6.98688 29.243 7.42808 28.7528 7.42363 28.1613L7.38554 23.2631L14.2603 19.3333V27.116L9.91115 29.5671C9.39217 29.8588 9.21063 30.4949 9.51248 31.0094C9.72356 31.37 10.0064 31.5442 10.405 31.5442C10.595 31.5442 10.77 31.5118 10.9179 31.4267L14.2603 29.5306V33.9548C14.2603 34.5422 14.7161 35 15.3048 35C15.8934 35 16.3683 34.5422 16.3683 33.9548V29.6035L19.5965 31.4267C19.7443 31.5118 19.9193 31.5442 20.0904 31.5442C20.508 31.5442 20.8159 31.3741 21.0209 31.0094C21.3094 30.499 21.123 29.8588 20.6032 29.5671L16.3683 27.193V19.2928L23.0908 23.1862L23.0531 28.1613C23.0482 28.7528 23.5089 29.243 24.0976 29.243C24.6862 29.243 25.1331 28.7893 25.142 28.2018L25.1987 24.3814L28.9969 26.6056C29.1436 26.6906 29.3388 26.719 29.5479 26.719C29.9466 26.719 30.2391 26.5529 30.4404 26.2247C30.7521 25.7183 30.5531 25.066 30.0605 24.7824Z" fill="black"/>
                </svg>
                p Снеговые<br>нагрузки
              li  
                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.3697 5.80207C25.1909 5.80207 25.0119 5.80747 24.8329 5.81825C23.3652 2.35062 19.8434 0 15.9596 0C10.6651 0 6.35781 4.22206 6.35781 9.4116C6.35781 9.42988 6.35781 9.44801 6.35796 9.46629C2.80671 9.7333 0 12.6542 0 16.2062C0 19.9333 3.09035 22.9657 6.88883 22.9657H25.3695C30.1956 22.9657 34.122 19.1158 34.122 14.3839C34.1221 9.65179 30.1957 5.80207 25.3697 5.80207ZM25.3697 20.7182H6.88898C4.32979 20.7182 2.24768 18.694 2.24768 16.2062C2.24768 13.7182 4.32979 11.6939 6.88898 11.6939C7.0469 11.6939 7.22251 11.7059 7.44142 11.7314C7.78829 11.7724 8.13426 11.6489 8.37774 11.3984C8.62122 11.148 8.7342 10.7986 8.68385 10.453C8.63186 10.0965 8.60549 9.74604 8.60549 9.41145C8.60534 5.46135 11.9044 2.24753 15.9596 2.24753C19.187 2.24753 22.0845 4.35062 23.0059 7.36171C23.171 7.90096 23.7101 8.23495 24.2663 8.14115C24.6289 8.08032 25 8.0496 25.3695 8.0496C28.9563 8.0496 31.8745 10.8912 31.8745 14.3839C31.8746 17.8767 28.9564 20.7182 25.3697 20.7182Z" fill="black"/>
                  <path d="M5.4946 29.4802L8.71396 26.2608C9.15282 25.822 9.15282 25.1104 8.71396 24.6717C8.27509 24.2328 7.56352 24.2328 7.1248 24.6717L3.90544 27.891C3.46658 28.3299 3.46658 29.0415 3.90544 29.4803C4.1248 29.6997 4.41249 29.8095 4.70002 29.8095C4.98755 29.8092 5.27509 29.6996 5.4946 29.4802Z" fill="black"/>
                  <path d="M12.3628 29.4803L15.5818 26.2609C16.0207 25.822 16.0205 25.1105 15.5817 24.6716C15.1427 24.2327 14.4312 24.2329 13.9924 24.6718L10.7733 27.8911C10.3344 28.33 10.3346 29.0416 10.7733 29.4804C10.9928 29.6998 11.2804 29.8095 11.5679 29.8095C11.8557 29.8093 12.1434 29.6996 12.3628 29.4803Z" fill="black"/>
                  <path d="M19.2307 29.4803L22.4497 26.2609C22.8886 25.822 22.8884 25.1105 22.4497 24.6716C22.0107 24.2327 21.2993 24.2329 20.8604 24.6718L17.6414 27.8911C17.2025 28.33 17.2026 29.0416 17.6414 29.4804C17.8609 29.6998 18.1484 29.8095 18.4359 29.8095C18.7236 29.8093 19.0113 29.6996 19.2307 29.4803Z" fill="black"/>
                  <path d="M27.7286 24.6717L24.5092 27.891C24.0703 28.3299 24.0703 29.0415 24.5092 29.4803C24.7286 29.6997 25.0162 29.8095 25.3038 29.8095C25.5913 29.8095 25.879 29.6998 26.0984 29.4803L29.3177 26.261C29.7566 25.8221 29.7566 25.1105 29.3177 24.6718C28.879 24.2328 28.1674 24.2328 27.7286 24.6717Z" fill="black"/>
                  <path d="M7.59637 29.8624L4.37731 33.0817C3.93844 33.5206 3.93859 34.2322 4.37731 34.671C4.59682 34.8904 4.88435 35.0001 5.17189 35.0001C5.45957 35.0001 5.74711 34.8904 5.96661 34.6709L9.18568 31.4515C9.62454 31.0127 9.62439 30.3011 9.18553 29.8622C8.74681 29.4235 8.03524 29.4235 7.59637 29.8624Z" fill="black"/>
                  <path d="M14.4844 29.8624L11.2654 33.0817C10.8265 33.5206 10.8266 34.2322 11.2655 34.671C11.485 34.8904 11.7725 35.0001 12.0601 35.0001C12.3476 35.0001 12.6353 34.8904 12.8548 34.6709L16.0739 31.4515C16.5127 31.0127 16.5126 30.3011 16.0739 29.8622C15.6347 29.4235 14.9233 29.4235 14.4844 29.8624Z" fill="black"/>
                  <path d="M21.3725 29.8624L18.1534 33.0817C17.7146 33.5206 17.7147 34.2322 18.1534 34.671C18.3729 34.8904 18.6605 35.0001 18.948 35.0001C19.2355 35.0001 19.5232 34.8904 19.7427 34.6709L22.9618 31.4515C23.4007 31.0127 23.4005 30.3011 22.9616 29.8622C22.5228 29.4235 21.8114 29.4235 21.3725 29.8624Z" fill="black"/>
                </svg>
                p Климатические<br>нагрузки
        .prod-wrap-temp.prod-wrap-temp_rev
          .prod-wrap-temp-side.prod-wrap-temp-side_secondtext
            .prod-wrap-temp-side__title Полный комплект документов
            .prod-wrap-temp-side__text Мы сдаем дом вместе с полным комплектом документов и чертежей, предоставляем гарантию примерно в пять раз больше, чем другие строительные компании. 
            .prod-wrap-temp-side-wrap
              .safe-wrap-left-item
                .safe-wrap-left-item__ellipse
                  <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="100" cy="100" r="99.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
                  </svg>
                .safe-wrap-left-item__num 10
                .safe-wrap-left-item__title Лет
                .safe-wrap-left-item__text Гарантия на все несущие конструкции
              .safe-wrap-left-item
                .safe-wrap-left-item__ellipse
                  <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="100" cy="100" r="99.5" stroke="black" stroke-opacity="0.15" stroke-dasharray="10 10"/>
                  </svg>
                .safe-wrap-left-item__num 3
                .safe-wrap-left-item__title Года
                .safe-wrap-left-item__text Гарантия на строительно-монтажные работы
          .prod-wrap-temp-side.prod-wrap-temp-side_garantee
            <img class="safe-wrap-right__img" src="assets/images/мокап.png" alt=""/>
        .prod-wrap-temp.prod-wrap-temp_material
          .prod-wrap-temp-side
            img(src="assets/images/material.png", alt="")
          .prod-wrap-temp-side.prod-wrap-temp-side_materialtext
            .prod-wrap-temp-side__title Требования к качеству материалов
            .prod-wrap-temp-side__text Finnkoti сотрудничает только с проверенными поставщиками материалов, проверяя качество на всех этапах. Часть комплектующих мы закупаем непосредственно в 🇫🇮 Финляндии и 🇪🇪 Эстонии.
            .prod-wrap-temp-side__text Мы не экономим на материалах,<strong> наша цель создать теплый и качественный дом.</strong>
            .prod-wrap-temp-side__text Материалы для сборки домокомплекта хранятся на складе с идеальным температурным режимом, с соблюдением уровня влажности и постоянным контролем.
        .prod-wrap-temp.prod-wrap-temp_sborka.prod-wrap-temp_rev
          .prod-wrap-temp-side
            .prod-wrap-temp-side__title Сборка дома
            .prod-wrap-temp-side__text Материалы для сборки домокомплекта хранятся на складе с идеальным температурным режимом, с соблюдением уровня влажности и постоянным контролем.
            .prod-wrap-temp-side__text Сборка дома происходит в заводских условиях с высочайшей точностью размеров. В момент производства домокомплекта в стеновые панели устанавливаются окна с теплопакетами, финские утепленные двери.
          .prod-wrap-temp-side.prod-wrap-temp-side_sborka
            .prod-wrap-temp-side_half
              img(src="assets/images/sborka1.png", alt="")  
            .prod-wrap-temp-side_half
              img(src="assets/images/sborka2.png", alt="")
              img(src="assets/images/sborka3.png", alt="")
