extend ../common/main.pug
block title 
 | Анализ сметы | Finnkoti
block content
  .wrapper
    article.w1440.smeta.article
      .article-top
        h1.article-top__title Анализ сметы
        h2.article-top__subtitle Анализируем смету от другой строительной компании,<br>если вы сомневаетесь в её цене.
      .article-main
        p.article-main__text Растения, пруды, подпорные стенки должны сочетаться с домом, дорожками, гаражом или навесом. Важно, чтобы пространство было не перегруженным, вы получали удовольствие от прогулки по вашей территории, уход не был сложным, а все растения подобраны согласно климату и сторонам света.
        p.article-main__text Компания Finnkoti выполняет любые ландшафтные работы на вашем участке: от проекта до реализации. Вы можете быть уверены в неповторимости Вашего будущего дизайн-проекта. Мы не применяем никаких шаблонных решений.
        h3.article-main__title_b Наши специалисты
        .third-block
          .third-block-card
            .third-block-card-imgblock
              img(src="assets/images/man-1.png", alt="man 1")
            .third-block-card-desc
              p.third-block-card-desc__name Алексей Иванов
              p.third-block-card-desc__pos Инженер-технолог, стаж 23 года
              p.third-block-card-desc__desc Инженер-технолог выбирает оборудование, на котором следует осуществлять технологический процесс
              .third-block-card-desc-down
                a(href="#").general-btn Читать в блоге
          .third-block-card
            .third-block-card-imgblock
              img(src="assets/images/man-2.png", alt="man 2")
            .third-block-card-desc
              p.third-block-card-desc__name Иван Алексеев
              p.third-block-card-desc__pos Архитектор, стаж 23 года
              p.third-block-card-desc__desc Инженер-технолог выбирает оборудование, на котором следует осуществлять технологический процесс
              .third-block-card-desc-down
                a(href="#").general-btn Читать в блоге
    section.general-form
      .general-form-wrap
        h1.general-form-wrap__title Закажите ландшафтные работы
        form.general-form-wrap-form(action="GET")
          input#general-form__name(type="text", name="", placeholder="Имя")
          input#general-form__mail-or-phone(type="text", name="", placeholder="E-mail или телефон")
          br
          textarea#general-form__textarea(name="", cols="30", rows="2", placeholder="Текст сообщения")
          p.general-form-wrap-form__pers Отправляя данную форму Вы соглашаетесь на 
            a(href="#") обработку персональных данных
          button(type="submit").general-btn Запросить цену