extend ../common/main.pug
block title 
 | Каталог | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.stock.w1440
      h1.title-36 Акции
      .stock-wrap
        a(href="#").stock-wrap-item
          .stock-wrap-item-top
            img(src="assets/images/stock-cat.jpg", alt="").stock-wrap-item-top__img
          .stock-wrap-item-bot
            h3.stock-wrap-item-bot__title Скидка 10% для владельцев котов
            p.stock-wrap-item-bot__timing
              img(src="assets/images/timing.svg", alt="")
              | до 21.09.2019
        a(href="#").stock-wrap-item
          .stock-wrap-item-top
            img(src="assets/images/stock-cat.jpg", alt="").stock-wrap-item-top__img
          .stock-wrap-item-bot
            h3.stock-wrap-item-bot__title Скидка 10% для владельцев котов
            p.stock-wrap-item-bot__timing
              img(src="assets/images/timing.svg", alt="")
              | до 21.09.2019
        a(href="#").stock-wrap-item
          .stock-wrap-item-top
            img(src="assets/images/stock-cat.jpg", alt="").stock-wrap-item-top__img
          .stock-wrap-item-bot
            h3.stock-wrap-item-bot__title Скидка 10% для владельцев котов
            p.stock-wrap-item-bot__timing
              img(src="assets/images/timing.svg", alt="")
              | до 21.09.2019
        a(href="#").stock-wrap-item
          .stock-wrap-item-top
            img(src="assets/images/stock-cat.jpg", alt="").stock-wrap-item-top__img
          .stock-wrap-item-bot
            h3.stock-wrap-item-bot__title Скидка 10% для владельцев котов
            p.stock-wrap-item-bot__timing
              img(src="assets/images/timing.svg", alt="")
              | до 21.09.2019
        a(href="#").stock-wrap-item
          .stock-wrap-item-top
            img(src="assets/images/stock-cat.jpg", alt="").stock-wrap-item-top__img
          .stock-wrap-item-bot
            h3.stock-wrap-item-bot__title Скидка 10% для владельцев котов
            p.stock-wrap-item-bot__timing
              img(src="assets/images/timing.svg", alt="")
              | до 21.09.2019
    section.general-form
      .general-form-wrap
        h1.general-form-wrap__title Помочь с выбором?<br>Пишите!
        form.general-form-wrap-form(action="GET")
          input#general-form__name(type="text", name="", placeholder="Имя")
          input#general-form__mail-or-phone(type="text", name="", placeholder="E-mail или телефон")
          br
          textarea#general-form__textarea(name="", cols="30", rows="2", placeholder="Текст сообщения")
          p.general-form-wrap-form__pers Отправляя данную форму Вы соглашаетесь на 
            a(href="#") обработку персональных данных
          button(type="submit").general-btn Запросить цену