extend ../common/main.pug
block title 
 | Техническое обслуживание дома | Finnkoti
block content
  .wrapper
    article.w1440.tech.article
      .article-top
        h1.article-top__title Техническое обслуживание дома
      .article-main
        p.article-main__text Дом – как машина. Вы же возите периодически свой автомобиль к дилеру для замены масла, фильтров, прогреваете двигатель в холодное время года, меняете стеклоочистители, колеса. И тогда автомобиль вам исправно служит. Даже такая небольшая и несложная техника, как кофемашина или посудомоечная машина тоже требует регулярного обслуживания. И если не проводить периодические проверки, обновления комплектующих, то и техника проработает недолго. Похожая ситуация складывается и с домом.
        p.article-main__text_line.article-main__text_line_ltl В качестве наших услуг мы предлагаем проводить техническое обслуживание дома регулярно. Специалист будет выезжать к вам согласно графику и проводить плановое обследование дома с рекомендациями. 
        h3.article-main__title_b Состав работ, входящих в техническое обслуживание
        ul.article-main-list.article-main-list_flex
          li 
            span
            | Регулировка окон и дверей
          li 
            span
            | Проверка состояния лестницы
          li 
            span
            | Проверка состояния фундамента
          li 
            span
            | Контроль несущих стен и перегородок
          li 
            span
            | Проверка состояния водосточной системы
          li 
            span
            | Контроль инженерных коммуникаций
    section.general-form
      .general-form-wrap
        h1.general-form-wrap__title Остались вопросы?<br>Пишите, мы ответим
        form.general-form-wrap-form(action="GET")
          input#general-form__name(type="text", name="", placeholder="Имя")
          input#general-form__mail-or-phone(type="text", name="", placeholder="E-mail или телефон")
          br
          textarea#general-form__textarea(name="", cols="30", rows="2", placeholder="Текст сообщения")
          p.general-form-wrap-form__pers Отправляя данную форму Вы соглашаетесь на 
            a(href="#") обработку персональных данных
          button(type="submit").general-btn Запросить цену