extend ../common/main.pug
block title 
 | Технология Low-energy wall | Finnkoti
block content
  .wrapper
    include ../common/breadcrumbs.pug
    section.technology.w1440
      h1.title-48 Технология Low-energy wall
      .technology-wrap
        .technology-left.technology-side
          p.technology-side__p
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M9.71191 15H10.9014V5.13574H9.69824L7.07324 7.02246V8.32129L9.68457 6.44141H9.71191V15Z" fill="white"/>
            </svg>
            | Гипсокартон повышенной жесткости с армированием из фиброволокна Gyproc 15 мм
          p.technology-side__p 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M6.77344 7.97949V7.98633H7.96289V7.97949C7.96289 6.87891 8.83789 6.04492 9.99316 6.04492C11.0801 6.04492 11.9482 6.80371 11.9482 7.75391C11.9482 8.57422 11.6338 9.10059 10.3076 10.4951L6.83496 14.1523V15H13.3428V13.9062H8.53711V13.8789L11.0322 11.3018C12.6797 9.59961 13.1787 8.7793 13.1787 7.67871C13.1787 6.16797 11.791 4.97168 10.0273 4.97168C8.16797 4.97168 6.77344 6.25684 6.77344 7.97949Z" fill="white"/>
            </svg>
            | Пароизоляционный пластик 0,2 мм (привозим из Финляндии)
          p.technology-side__p 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M8.16699 10.4473H9.4043C10.8125 10.4473 11.6875 11.165 11.6875 12.3271C11.6875 13.3594 10.751 14.0977 9.44531 14.0977C8.11914 14.0977 7.27832 13.4004 7.16895 12.3887H5.98633C6.0752 14.0225 7.39453 15.1641 9.45898 15.1641C11.3936 15.1641 12.9385 13.9814 12.9385 12.2861C12.9385 10.8984 11.9814 9.97559 10.4912 9.88672V9.85938C11.7217 9.64062 12.5146 8.75195 12.5146 7.51465C12.5146 6.03125 11.1816 4.97168 9.41797 4.97168C7.56543 4.97168 6.32129 6.04492 6.18457 7.71973H7.36719C7.47656 6.6875 8.22852 6.03809 9.36328 6.03809C10.6143 6.03809 11.2773 6.70117 11.2773 7.67871C11.2773 8.67676 10.4844 9.4082 9.34961 9.4082H8.16699V10.4473Z" fill="white"/>
            </svg>
            | Терморазрыв стойки каркаса 12 мм
        .technology-image
          img(src="assets/images/low.png", alt="").technology-image__img.technology-image__img_f
          img(src="assets/images/low2.png", alt="").technology-image__img.technology-image__img_s
        .technology-right.technology-side
          p.technology-side__p 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M10.751 15H11.9404V12.9492H13.335V11.8691H11.9404V5.13574H10.1221C7.79102 8.47852 6.63574 10.2764 5.79492 11.835V12.9492H10.751V15ZM7.01172 11.8418C7.79102 10.4746 8.86426 8.82715 10.7305 6.16113H10.751V11.8691H7.01172V11.8418Z" fill="white"/>
            </svg>
            | Сухая строганная доска, сорта АВ
          p.technology-side__p 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M9.5957 15.1641C11.6533 15.1641 13.1094 13.7764 13.1094 11.7939C13.1094 9.87988 11.7422 8.49219 9.84863 8.49219C8.90527 8.49219 8.08496 8.84766 7.64062 9.44238H7.61328L7.91406 6.22949H12.5488V5.13574H6.90234L6.3623 10.6592H7.51758C7.9209 9.96875 8.70703 9.55176 9.62988 9.55176C10.9424 9.55176 11.8789 10.502 11.8789 11.8281C11.8789 13.1543 10.9492 14.084 9.60938 14.084C8.42676 14.084 7.53125 13.3594 7.42188 12.3066H6.21191C6.31445 13.9883 7.70898 15.1641 9.5957 15.1641Z" fill="white"/>
            </svg>
            | Минеральная вата Paroc 250 мм, зажимается в панель на производстве = бесшовный слой
          p.technology-side__p 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#0098CE"/>
              <path d="M9.67773 15.1709C11.7012 15.1709 13.1709 13.749 13.1709 11.8008C13.1709 9.92773 11.7764 8.54004 9.89648 8.54004C8.67285 8.54004 7.58594 9.17578 7.1416 10.1396H7.12109C7.16211 7.51465 8.09863 6.05176 9.74609 6.05176C10.7236 6.05176 11.5166 6.62598 11.7832 7.52148H13.0342C12.7197 5.96973 11.4346 4.96484 9.75977 4.96484C7.34668 4.96484 5.93164 6.91309 5.93164 10.2354C5.93164 11.3018 6.08887 12.1904 6.41699 12.9492C7.02539 14.3711 8.20117 15.1709 9.67773 15.1709ZM9.66406 14.0771C8.39941 14.0771 7.41504 13.0723 7.41504 11.8076C7.41504 10.5498 8.37891 9.62012 9.68457 9.62012C10.9902 9.62012 11.9199 10.5498 11.9199 11.8418C11.9199 13.0859 10.9219 14.0771 9.66406 14.0771Z" fill="white"/>
            </svg>
            | Ветрозащитная древесноволокнистая плита Isoplaat толщиной 12 мм в качестве ограждающей конструкции.
      p.technology__p Изготовленные в сухом производственном помещении стеновые панели Finnkoti обладают повышенными теплотехническими характеристиками. Коэффициент теплопроводности стен 0,16 В/м2*К. В результате чего при эксплуатации такого энергоэффективного, теплого, экологичного дома его обладатель <span>экономит до 50% на отоплении.</span>
