extend ../common/main.pug
block title 
 | Юридическое сопровождение при покупке участка | Finnkoti
block content
  .wrapper
    article.w1440.ur-sopr.article
      .article-top
        h1.article-top__title Юридическое сопровождение<br>при покупке участка
      .article-main
        p.article-main__text Наступил день, когда вы стали уставать от шумной и постоянно подвижной атмосферы города и у вас начали зарождаться мысли о переезде за город, в приятный и спокойный климат небольшого поселка. Но одного решения для переезда недостаточно. Перед вами возникнет еще много вопросов, на которые нужно правильно ответить, много всего изучить.<br>
        p.article-main__text Каждый этап необходимо пройти шаг за шагом, не торопясь, вникая в детали, чтобы не ошибиться. Итак, первое, что вам придется решать - это выбор земельного участка. <br>
        p.article-main__text Помимо местоположения земельного участка, придется изучить и разобраться во всех деталях: 
        ul.article-main-list
          li 
            span
            | назначение земель, 
          li 
            span
            | подъездные пути, 
          li 
            span
            | коммуникации (есть или только обещают, документы на коммуникации), 
          li 
            span
            | как будет проходить сделка (ячейка, аккредитив, ипотека) и т.д. 
        p.article-main__text_line Мы не оставляем наших клиентов наедине с этими проблемами и помогаем<br>решить все вопросы.<br>Услуга для покупателей наших домов бесплатна.
    section.general-form
      .general-form-wrap
        h1.general-form-wrap__title Остались вопросы?<br>Пишите, мы ответим
        form.general-form-wrap-form(action="GET")
          input#general-form__name(type="text", name="", placeholder="Имя")
          input#general-form__mail-or-phone(type="text", name="", placeholder="E-mail или телефон")
          br
          textarea#general-form__textarea(name="", cols="30", rows="2", placeholder="Текст сообщения")
          p.general-form-wrap-form__pers Отправляя данную форму Вы соглашаетесь на 
            a(href="#") обработку персональных данных
          button(type="submit").general-btn Запросить цену
