.amen-first{
  position: relative;
  padding: 80px 200px 0;
  @include w768{
    padding: 40px 20px;
  }
  @include w480{
    padding: 33px 10px 24px;
  }
}
.amen-container{
  height: 430px;
  position: relative;
  @include w1024{
    height: 350px;
  }
  @include w768{
    height: 300px;
  }
  @include w480{
    height: auto;
    padding-bottom: 10px;
  }
  .amen-slide{
    position: absolute;
    top: 0;
    padding-left: 237px;
    opacity: 0;
    transition: right 1s, opacity 1s;
    display: none;
    @include w768{
      padding-left: 82px;
    }
    @include w480{
      opacity: 1;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      top: auto;
      padding-left: 0;
      padding: 0 20px 28px;
      width: 100%;
      box-sizing: border-box;

    }
    &_active{
      opacity: 1;
      position: relative;
      display: block;
      @include w480{
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &__number{
      font-weight: 900;
      font-size: 240px;
      line-height: 100%;
      letter-spacing: -0.05em;
      color: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: -75px;
      top: 98px;
      @include w1024{
        top: 58px;
      }
      @include w768{
        left: -45px;
        font-size: 144px;
      }
      @include w480{
        display: none;
      }
    }
    &-info{
      padding-top: 100px;
      @include w1024{
        padding-top: 60px;
      }
      @include w480{
        padding-top: 0;
      }
      &__title{
        font-size: 24px;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 24px;
        @include w768{
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 16px;
          margin-bottom: 20px;
        }
      }
      &__text{
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        max-width: 40%;
        @include w768{
          font-size: 12px;
        }
        @include w480{
          max-width: 100%;
          font-size: 14px;
        }
      }
    }
    &__img{
      width: 35%;
      position: absolute;
      top: -30px;
      right: 0;
      max-width: 525px;
      min-width: 256px;
      border-radius: 500px 0 0 500px;
      @include w1024{
        top: 30px;
      }
      @include w768{
        top: 10%;
        width: 48%;
      }
      @include w480{
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        border-radius: 0 0 0 0;
        margin-bottom: 14px;
      }
    }
  }
}
.amen-links{
  padding: 0 120px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  @include w768{
    padding: 0 20px;
    max-width: auto;
  }
  @include w480{
    display: none;
  }
  &-wrap{
    display: flex;
    margin: 0 -15px;
    @include w768{
      margin: 0 -10px;
    }
  }
  &-item{
    overflow: hidden;
    width: 25%;
    margin: 0 15px;
    position: relative;
    bottom: -30px;
    transition: bottom 1s;
    opacity: 0.8;
    @include w768{
      bottom: -55px;
    }
    @include w768{
      margin: 0 10px;
    }
    &:hover{
      bottom: -15px;
      opacity: 0.9;
      cursor: pointer;
      @include w768{
        bottom: -45px;
      }
    }
    &_active{
      bottom: 0;
      opacity: 1;
      &:hover{
        bottom: 0;
        opacity: 1;
        @include w768{
          bottom: -37px;
        }
      }
      .amen-links-item__name::before{
        background-color:  #082D84;
      }
      @include w768{
        bottom: -37px;
      }
    }
    img{
      width: 100%;
      margin-bottom: 23px;
      @include w768{
        margin-bottom: 15px;
      }
    }
    &__name{
      display: flex;
      font-size: 16px;
      line-height: 150%;
      position: relative;
      height: 100px;
      &::before{
        transition: background-color 1s;
        content: "";
        display: block;
        margin-top: 7px;
        width: 10px;
        height: 10px;
        background: #6A7387;
        margin-right: 10px;
        flex-shrink: 0;
        @include w768{
          margin-top: 5px;
          width: 6.3px;
          height: 6.3px;
        }
      }
      @include w768{
        font-size: 12px;
      }
    }
    &__line{
      position: absolute;
      display: block;
      top: 8px;
      left: 0;
      height: 100px;
      width: 1px;
      background-color: rgba(8, 45, 132, 0.2);
    }
  }
  &__underline{
    height: 1px;
    min-width: 120px;
    flex: 1 2 auto;
    @include w768{
      flex: none;
      width: 20px;
      min-width: auto;
    }
    &_l{
      @include w480{
        background-color: rgba(8, 45, 132, 0.2);
      }
    }
    &_c{
      flex: 0 1 auto;
      margin-left: auto;
      max-width: 1200px;
      background-color: rgba(8, 45, 132, 0.2);
      height: 1px;
      width: 100%;
    }
    &_r{
      background-color: rgba(8, 45, 132, 0.2);
    }
  }
}
.amen-overflow{
  width: 100%;
  display: flex;
  height: 1px;
}
.more-amen{
  padding: 80px 120px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  @include w768{
    padding: 40px 20px 60px;
  }
  @include w480{
    padding: 33px 10px 40px;
  }
  &-list{
    padding: 18px 0 96px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -10px;
    @include w768{
      padding: 0;
      margin: 0;
    }
    @include w480{
      flex-direction: column;
    }
    &__p{
      font-size: 16px;
      max-width: calc(100% / 3 - 20px);
      line-height: 19px;
      margin: 50px 10px 0;
      width: 100%;
      @include w768{
        font-size: 14px;
        margin: 50px 0 0;
        max-width: calc(100% / 3)
      }
      @include w480{
        max-width: 100%;
        margin: 26px 0 0;
      }
      &::before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #6A7387;
        margin-right: 10px;
      }
    }
  }
}