.catalog-top{
  padding-top: 0px;
}
.catalog{
  .search{
    background-color: rgba(140, 177, 220, 0.25) !important;
    display: block;
    position: static;
    &__cat{
      position: absolute;
      top: -81px;
      right: 100px;
    }
    &-form{
      position: relative;
      .srch-wrap{
        display: flex;
      }
      &-top{
        &-title{
          margin-left: -20px;
          & > span{
            display: none;
          }
        }
        &__close{
          display: none;
        }
      }
      &-main{
        &.family{
          margin-right: 20px;
        }
        &-col{
          width: 90%;
          &.options{
            width: 10%;
            flex-shrink: 2;
          }
          &__title{
            display: none;
          }
          &-wrap{
            label{
              width: 50% !important; 
              &:nth-child(3n){
                display: none;
              }
            }
          }
        }
      }
      &-bot{
        flex-direction: column;
        &__btn{
          margin-right: 0;
          &:first-child{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  &-wrap{
    padding-top: 20px;
    &-top{
      width: 100%;
      display: flex;
      align-items: center;
      .selector{
        margin-left: auto;
      }
      &__p{
        font-family: SF UI Display;
        font-size: 18px;
        line-height: 150%;
      }
    }
    &-bot{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px 0;
    }
  }
}
.individ{
  background-color: rgba(140, 177, 220, 0.25);
  &-wrap{
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left{
      width: 53%;
    }
    &-right{
      width: calc(47% - 35px);
      &__title{
        font-family: SF UI Display;
        font-size: 36px;
        line-height: 150%;
        margin-bottom: 27px;
      }
      &__text{
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 40px;
        font-weight: 300;
      }
    }
  }
}