.catalog-top{
  padding-top: 0px;
}
.catalog{
  .search{
    background-color: rgba(140, 177, 220, 0.25) !important;
    display: block;
    position: static;
    &__cat{
      position: absolute;
      top: -81px;
      right: 100px;
    }
    &-form{
      position: relative;
      .srch-wrap{
        display: flex;
      }
      &-top{
        &-title{
          margin-left: -20px;
          & > span{
            display: none;
          }
        }
        &__close{
          display: none;
        }
      }
      &-main{
        &.family{
          margin-right: 20px;
        }
        &-col{
          width: 90%;
          &.options{
            width: 10%;
            flex-shrink: 2;
          }
          &__title{
            display: none;
          }
          &-wrap{
            label{
              width: 50% !important; 
              &:nth-child(3n){
                display: none;
              }
            }
          }
        }
      }
      &-bot{
        flex-direction: column;
        &__btn{
          margin-right: 0;
          &:first-child{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}