.general-btn{
  display: flex;
  width: 183px;
  height: 45px;
  background-color: #4479BC;
  font-family: SF UI Display;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s linear;
  &:hover{
    
    opacity: 0.8;
  }
}
.selector{
  position: relative;
  &_open{
    .selector-view{
      border-radius: 5px 5px 0 0;
      svg{
        transform: rotate(180deg);
      }
    }
  }
  &-view{
    transition: all 0.2s linear;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    width: 183px;
    height: 45px;
    svg{
      
      transition: all 0.2s linear;
    }
  }
  &-list{
    position: absolute;
    top: 44px;
    width: 183px;
    border: 1px solid #D9D9D9;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: none;
    &__item{
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      font-family: SF UI Display;
      font-size: 14px;
      line-height: 150%;
      padding: 0 20px;
      box-sizing: border-box;
      background-color: #fff;
      transition: all 0.2s linear;
      cursor: pointer;
      &_active{
        background-color:#4479BC;
        color: white;
        &:hover{
          background-color:#4479BC !important;
        }
      }
      &:hover{
        background-color: #E9F2FF;
      }
      &:last-child{
        border-radius: 0 0 5px 5px;
      }
    }
    &.selector-list_check{
      .check-item{
        width: 100%;
        height: 32px;
        padding: 0 20px;
        box-sizing: border-box;
        &:hover{
          background-color: #E9F2FF;
          transition: all 0.2s linear;
        }

        p{
          order: 2;
          margin-right: 0;
        }
        span{
          order: 1;
          margin-right: 10px;
        }
      }
    }
  }
}
.finnkoti-swap{
  display: flex;
  margin-right: 16px;
  &[data-position="0"]{
    .finnkoti-swap__finnfull{
      background-color: #4479BC;
      border-color: #4479BC;
      color: white;
    }
    .finnkoti-swap__finnlite:hover{
      background-color: #E9F3FF;
    }
  }
  &[data-position="1"]{
    .finnkoti-swap__finnlite{
      background-color: #4479BC;
      border-color: #4479BC;
      color: white;
    }
    .finnkoti-swap__finnfull:hover{
      background-color: #E9F3FF;
    }
  }
  &__finn{
    width: 134px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid  rgba(0, 0, 0, 0.15);
    transition: all 0.2s linear;
    &full{
      border-right: none;
      border-radius: 5px 0 0 5px;
    }
    &lite{
      border-left: none;
      border-radius: 0 5px 5px 0;
      padding: 0 19px;
      justify-content: space-between;
    }
  }
}
.check-item{
  display: flex;
  align-items: center;
  cursor: pointer;
  &[data-check="true"]{
    span div{
      opacity: 1;
    }
  }
  &[data-check="false"]{
    &:hover{
      span div{
        background: #4479BC;
        opacity: 0.5;
      }
    }
  }
  p{
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    margin-right: 6px;
  }
  span{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div{
      background: #4479BC;
      border-radius: 1px;
      width: 9px;
      height: 9px;
      opacity: 0;
      transition: all 0.2s linear;
    }
  }
}
.house-wrap{
  display: flex;
  flex-wrap: wrap;
  margin: -18px;
  padding-top: 38px;
  &-item{
    margin: 18px;
    width: calc(100% / 3 - 36px);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover{
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    }
    &-imagebox{
      width: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-desc{
      padding: 12px 20px 20px;
      &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 19px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        &-left{
          &__title{
            font-family: SF UI Display;
            font-size: 20px;
            line-height: 150%;
            margin-bottom: 1px;
          }
          &__subtitle{
            font-family: SF UI Display;
            font-size: 14px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        &-right{
          font-family: SF UI Display;
          font-size: 14px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.5);
          span{
            font-family: SF UI Display;
            font-size: 20px;
            line-height: 150%;
            color: #000000;
            &:after{
              content: " ";
            }
            &:before{
              content: " ";
            }
          }
        }
      }
      &-down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        &__item{
          display: flex;
          align-items: center;
          font-family: SF UI Display;
          font-size: 16px;
          line-height: 19px;  
          img{
            margin-right: 12px;
          }
        }
      }
    }
  }
}
.first{
  width: 100%;
  background-image: url("../images/first-bg.png");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100px;
  &-desc{
    padding-left: 154px;
    &__subtitle{
      font-family: SF UI Display;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin-bottom: 24px;
      font-weight: 300;
    }
    &__title{
      font-family: SF UI Display;
      font-size: 48px;
      line-height: 115%;
      color: #FFFFFF;
      margin-bottom: 30px;
      span{
        font-weight: 600;
      }
    }
    &__text{
      font-family: SF UI Display;
      font-size: 14px;
      line-height: 150%;
      color: #FFFFFF;
      font-weight: 300;
      max-width: 355px;
      display: block;
    }
  }
  &-linkblock{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
    bottom: 0;
    right: 60px;
    &__link{
      margin-bottom: 23px;
    }
  }
}
.second{
  background-image: url('../images/second-bg.svg');
  background-size: 100% auto;
  padding-bottom: 30px;
  &-block{
    display: flex;
    align-items: flex-start;
    height: auto;
    padding-top: 30px;
    &-images{
      display: flex;
      width: 50%;
      margin: -10px;
      height: auto;
      &__img{
        margin: 10px 10px;
      }
      &-right{
        display: flex;
        width: calc(100% / 3 - 20px);
        flex-direction: column;
        .second-block-images__img{
          height: calc(50% - 20px);
        }
      }
    }
    &-desc{
      box-sizing: border-box;
      width: 50%;
      padding-right: 70px;
      &__text{
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 30px;
        font-weight: 300;
      }
      &__link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: 300;
        transition: all 0.2s linear;
        &:hover{
          color: #000;
          svg{
            transform: rotate(180deg);
            path{
              stroke-opacity: 1;
            }
          }
        }
        svg{
          transition: all 0.2s linear;
          margin-left: 4px;
          path{
            transition: all 0.2s linear;
          }
        }
      }
    }
  }
}
.third{
  &__title{
    font-family: SF UI Display;
    font-size: 36px;
    line-height: 115%;
    text-align: center;
    margin-bottom: 22px;
  }
  &__subtitle{
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    max-width: 565px;
    display: block;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    font-weight: 300;
  }
  &-block{
    display: flex;
    max-width: 1196px;
    justify-content: space-between;
    padding-top: 55px;
    margin: 0 auto;
    &-card{
      width: calc(50% - 10px);
      display: flex;
      &-imgblock{
        width: 40%;
        flex-shrink: 0;
        margin-right: 20px;
        border-radius: 5px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-desc{
        display: flex;
        flex-direction: column;
        &__name{
          font-family: SF UI Display;
          font-size: 24px;
          line-height: 150%;
          margin-bottom: 6px;
        }
        &__pos{
          font-family: SF UI Display;
          font-size: 14px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.3);
          margin-bottom: 31px;
          font-weight: 300;
        }
        &__desc{
          font-family: SF UI Display;
          font-size: 16px;
          line-height: 150%;
          font-weight: 300;
        }
        &-down{
          margin-top: auto;
          &__text{
            font-family: SF UI Display;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.3);
            margin-bottom: 17px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
.fourth{
  max-width: 1136px;
  margin: 0 auto;
  box-sizing: content-box; 
  position: relative;
  &-arrow{
    display: flex;
    right: 221px;
    align-items: center;
    position: absolute;
    bottom: 4px;
    &__prev, &__next{
      cursor: pointer;
      transition: opacity 0.2s linear;
      opacity: 0.7;
      &:hover{
        opacity: 1;
      }
      &.slick-disabled{
        opacity: 0.1;
      }
    }
    &__prev{
      margin-right: 45px;
      transform: scale(-1, 1);
      filter: FlipH;
    }
  } 
  .title-36{
    margin-bottom: 60px;
  }
  &-slider{
    &-item{
      display: flex !important;
      &-imgblock{
        width: 30%;
        margin-right: 50px;
        flex-shrink: 0;
        &__img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-desc{
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        &__title{
          padding-top: 32px;
          font-family: SF UI Display;
          font-size: 24px;
          line-height: 115%;
          margin-bottom: 35px;
        }
        &__text{
          font-family: SF UI Display;
          font-size: 16px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.7);
          font-weight: 300;
        }
      }
      &-images{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        &__img{
          width: 131px;
          height: 131px;
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.fifth{
  &-wrap{
    display: flex;
    margin-top: 38px;
    .selector{
      &:not(:last-child){
        margin-right: 16px;
      }
      &:last-child{
        margin-left: auto;
      }
    }
  }
  &-check{
    display: flex;
    margin-top: 17px;
    .check-item{
      margin-right: 30px;
    }
  }
  &-btnor{
    margin: 40px auto 24px; 
  }
  &__or{
    text-align: center;
    margin: 0 auto 44px;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
  }
  &-test{
    max-width: 1188px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 57px;
    &-left{
      width: calc(50% - 28px);
      display: flex;
      justify-content: space-around;
    }
    &-right{
      width: calc(50% - 28px);
      &__line{
        height: 2px;
        width: 60px;
        background-color: black;
        margin-bottom: 31px;
      }
      &__title{
        font-family: SF UI Display;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 23px;
      }
      &__subtitle{
        font-family: SF UI Display;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 36px;
      }
      &__link{
        display: flex;
        height: 45px;
        box-sizing: border-box;
        border: 1.5px solid #4479BC;
        border-radius: 5px;
        align-items: center;
        justify-content: space-around;
        font-family: SF UI Display;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        width: 158px;
        text-decoration: none;
        transition: all 0.2s linear;
        &:hover{
          background-color: #4479BC;
          color: #fff;
        }
      }
    }
  }
  &-review{
    max-width: 1097px;
    margin: 0 auto;
    position: relative;
    &-arrow{
      display: flex;
      position: absolute;
      right: 50%;
      bottom: 40px;
      &__arr{
        background-color: #fff;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        &.slick-disabled{
          &:hover{
            svg{
              opacity: 0.3;
            }
          }
          svg{
            opacity: 0.3;
          }
        }
        &:hover{
          svg{
            opacity: 1;
          }
        }
        svg{
          opacity: 0.8;
          transition: all 0.2s linear;
        }
        &_prev{
          svg{
            transform: rotate(180deg);
          }
        }
      }
    }
    &-wrap{
      margin-top: 30px;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      &-item{
        display: flex !important;
        min-height: 388px;
        align-items: stretch;
        &-imagebox{
          width: 50%;
          &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        &-desc{
          width: 50%;
          box-sizing: border-box;
          padding: 60px 20px 40px 40px;
          display: flex;
          flex-direction: column;
          &__name{
            font-family: SF UI Display;
            font-size: 18px;
            line-height: 100%;
            margin-bottom: 12px;
          }
          &__line{
            width: 135px;
            height: 1.5px;
            background-color: #4479BC;
            margin-bottom: 30px;
          }
          &__review{
            font-family: SF UI Display;
            font-size: 16px;
            line-height: 150%;
            display: block;
            max-width: 415px;
            margin-bottom: 10px;
            font-weight: 300;
          }
          &__link{
            font-family: SF UI Display;
            font-size: 12px;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.2s linear;
            font-weight: 300;
            &:hover{
              color: #000;
              svg{
                transform: rotate(180deg);
              }
            }
            svg{
              margin-left: 4px;
              transition: all 0.2s linear;
            }
          }
          &__zap{
            position: absolute;
            bottom: 40px;
            right: 20px;
          }
          &__who{
            margin-top: auto;
            display: block;
            font-family: SF UI Display;
            font-size: 12px;
            line-height: 100%;
          }
        }
      }
    }
  }
}