.first-sec{
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  @include w768{
    margin-top: 76px;
  }
  @include w480{
    margin-top: 56px;
    height: 411px !important;
  }

  &__h1{
    font-size: 52px;
    line-height: 110%;
    padding-top: 15%;
    font-style: normal;
    font-weight: normal;
    padding-left: 97px;
    @include w768{
      padding-left: 58px;
      padding-top: 118px;
      font-size: 30px;
    }
    @include w480{
      padding-left: 10px;
      padding-top: 74px;
      font-size: 30px;
    }
  }
  &__h4{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    padding-left: 97px;
    @include w768{
      font-size: 12px;
      padding-left: 58px;
      margin-top: 24px;
    }
    @include w480{
      margin-top: 12px;
      padding-left: 10px;
      padding-right: 130px;
    }
  }
}
.second-sec{
  padding: 80px 120px 100px;
  position: relative;
  @include w768{
    padding: 40px 20px 30px;
  }
  @include w480{
    padding: 33px 10px 30px;
  }
  &__p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding-top: 32px;
    display: block;
    max-width: calc(50% - 10px);
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-indent: 20px;
    &:first-child{
      margin-top: 24px;
    }
    @include w768{
      font-size: 12px;
    }
    @include w480{
      font-size: 14px;
      max-width: 100%;
      padding-right: 0;
    }
  }
  &__img{
    @include w1024{
      width: 50%;
      padding-top: 230px;
    }
    @include w768{
      padding-top: 160px;
    }
    @include w480{
      position: relative;
      width: 100%;
      right: -10px;
      padding-top: 14px;
      padding-bottom: 0;
    }
    position: absolute;
    right: 0;
    padding: 180px 0 80px;
    top: 0;
    max-width: 637px;
    width: 100%;
  }
}
.third-sec{
  position: relative;
  padding: 80px 120px 70px;
  @include w768{
    padding: 40px 20px 40px;
  }
  @include w480{
    padding: 33px 10px 26px;
  }
  .list{
    &-wrap{
      position: relative;
      z-index: 20;
      column-count:2;
      padding: 57px 0 0;
      column-gap: 20px;
      @include w768{
        padding-top: 40px;
      }
      @include w480{
        column-count:1;
      }
    }
    &__item{
      overflow: hidden; /* Fix for firefox and IE 10-11  */
      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+ */
      break-inside: avoid-column;
      padding-left: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #394348;
      margin-bottom: 30px;
      display: block;
      max-width: calc(100% - 20px);
      box-sizing: border-box;
      &::before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #6A7387;
        margin-right: 10px;
      }
      @include w768{
        padding-left: 0;
      }
      @include w480{
        max-width: 100%;
        margin-bottom: 14px;
      }
    }
  }
}
.fourth-sec{
  position: relative;
  padding: 80px 120px 70px;
  background-color: #FBFBFB;
  @include w768{
    padding: 40px 20px 50px;
  }
  @include w480{
    padding: 33px 10px 40px;
  }
  &__title{
    padding: 60px 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    @include w768{
      padding: 30px 0 20px;
    }
    @include w480{
      font-size: 16px;
    }
  }
  .parts-wrap{
    display: flex;
    @include w480{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .parts-item{
      width: 20%;
      @include w768{
        box-sizing: border-box;
      }
      &:not(:last-child){
        @include w768{
          padding-right: 20px;
        }
        @include w480{
          padding-right: 0;
          margin-bottom: 40px;
        }
      }
      @include w480{
        width: 50%;
        text-align: center;
      }
      &__p{
        padding-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #394348;
        @include w480{
          padding-top: 10px;          
          font-size: 12px;
        }
      }
      &__img{
        height: 67px;
        @include w768{
          height: 50px;
        }
        @include w480{
          height: 67px;
        }
      }
    }
  }
  .mission-wrap{
    margin: -10px -30px;
    transition: height 1s linear;
    @include w768{
      padding: 0 10px;
    }
    @include w480{
      margin: 0 0;
      padding: 0;
    }
    @media screen and (max-width: 339px) {
      margin: 0 -10px;
    }
    .mission-item{
      box-sizing: border-box;
      width: calc(100% / 3 - 20px);
      margin: 10px;
      transition: height 1s linear;
      overflow: hidden;
      @include w768{
        width: calc(100% / 2 - 30px);
        padding: 10px;
      }
      @include w480{
        width: 100%;
        margin: 0 0 20px;
      }
      &.mission-item_active{
        background: #FFFFFF;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        .mission-item-invisible{
          display: block;
        }
        svg{
          transform: rotate(180deg);
        }
      }
      padding: 20px;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
      }
      &-visible{
        .mission-item-head{
          display: flex;
          font-size: 16px;
          line-height: 150%;
          align-items: center;
          margin-bottom: 15px;
          &::before{
            content: "";
            display: block;
            flex: none;
            align-self: flex-start;
            margin-top: 7px;
            width: 10px;
            height: 10px;
            background: #6A7387;
            margin-right: 10px;
            @include w480{
              margin-top: 5px;
            }
          }
          svg{
            margin-left: 10px;
            transition: transform 0.3s ease-in-out; 
          }
          @include w480{
            font-size: 14px;
          }
        }
        .mission-item-about{
          font-size: 14px;
          line-height: 150%;
          color: #394348;
        }
      }
      &-invisible{
        margin-top: 24px;
        padding-top: 15px;
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .mission-item__a{
          font-size: 14px;
          line-height: 200%; 
          color: #394348;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
}