.news{
  padding-top: 0;
  &-wrap{
    padding-top: 10px;
    margin-bottom: 40px;
    &-item{
      display: flex;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &-preview{
        width: 32%;
        flex: none;
        &__img{
          border-radius: 5px 0 0 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-desc{
        padding: 15px 20px 20px;
        display: flex;
        flex-direction: column;
        &__title{
          font-family: SF UI Display;
          font-size: 24px;
          line-height: 125%;
          font-weight: 600;
          margin-bottom: 19px;
        }
        &__text{
          font-family: SF UI Display;
          font-size: 16px;
          line-height: 125%;
          color: rgba(51, 51, 51, 0.6);
          font-weight: normal;
        }
        &-bot{
          margin-top: auto;
          display: flex;
          align-items: center;
          &__time{
            display: flex;
            align-items: center;
            margin-right: 60px;
            img{
              margin-right: 10px;
            }
            font-size: 14px;
            font-family: SF UI Display;
            line-height: 17px;
            font-weight: 600;
            color: #333333;
          }
          &__views{
            display: flex;
            align-items: center;
            img{
              margin-right: 10px;
            }
            font-size: 14px;
            font-family: SF UI Display;
            line-height: 17px;
            font-weight: 600;
            color: #333333;
          }
          .general-btn{
            margin-left: auto;
          }
        }
      }
    }
  }
}