.services{
  background-image: url("../images/half-circle1.svg"),
                    url("../images/half-circle1.svg");
  background-position:  left top 20px,
                        left bottom 20px;
  background-size:  auto 500px,
                    auto 500px;  
  background-repeat: no-repeat, no-repeat;
  &-wrap{
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 70px 70px;
  }  
  &__title{
    font-weight: 800;
    font-size: 48px;
    color: #2A2A68;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text{
    color: #4A5059;
    font-size: 16px;
    line-height: 24px;
    &:not(:last-child){
      margin-bottom: 24px;
    }
  }
  &-row{
    display: flex;
    align-items: flex-start;
  }
  &-desc{
    flex: 1 1 calc(100% - 600px);
    margin-right: 20px;
    &-grid{
      display: flex;
      flex-wrap: wrap;
      margin: -10px -10px 25px;
      justify-content: space-between;
      &-item{
        margin: 10px;
        max-width: 320px;
        display: flex;
        align-items: flex-end;
        &__img{
          flex-shrink: 0;
          width: 48px;
          height: 48px;
          margin-right: 20px;
          path{
            transition: .3s;
            fill: #25A6DE !important;
          }
          &.services-desc-grid-item__img_hover{
            path{
              fill: #25A6DE !important;
            }
          }
        }
        &__text{
          color: #4A5059;
          a{
            font-weight: 600;
            text-decoration: underline;
            color: #4A5059;
            transition: .3s;
            &:hover{
              @media screen and (min-width: 1023px){
                color: #25A6DE;
              }
            }
          }
        }
      }
    }
    &-list{
      &__item{
        color: #4A5059;
        display: flex;
        align-items: flex-start;
        &:before{
          margin-right: 25px;
          content: '';
          display: block;
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          background-color: #25A6DE;
          border-radius: 50%;
          margin-top: 6px;
        }
        margin-bottom: 5px;
      }
    }
  }
  &-form{
    flex: 1 1 580px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../images/circle-form.svg);
    background-position: center bottom 70%;
    .general-form{
      padding: 0;
      margin: 0;
      background: none;
      &-wrap{
        margin: 0;
      }
      .general-form-checkblock.general-form-checkblock_sogl{
        .general-form-label__text{
          white-space: nowrap;
        }
      }
    }
    &-adv{
      margin-top: 50px;
      &__title{
        font-size: 24px;
        font-weight: 600;
        color: #25A6DE;
        margin-bottom: 30px;
      }
      &-list{
        &__item{
          display: flex;
          color: #4A5059;
          &:not(:last-child){
            margin-bottom: 24px;
          }
          span{
            flex-shrink: 0;
            color: #25A6DE;
            margin-right: 30px;
          }
        }
      }
    }
  }
}
@include w1366{
  .services-desc{
    flex: 1 1 calc(100% - 440px)
  }
  .services-form{
    flex: 1 1 420px;
  }
  .services-wrap{
    padding: 40px 20px;
  }
}


@include w768{
  .services-row{
    display: block;
  }
  .services-form{
    margin-top: 40px;
  }
  .services__title{
    font-size: 28px;
    line-height: 35px;
  }
  .services-form-adv-list__item span{
    margin-right: 20px;
  }
  .services-form-adv-list__item{
    font-size: 14px;
    line-height: 24px;
  }
  .general-form-row-2{
    display: block;
    margin-left: 0;
    margin-right: 0;
    & > * {
      margin-right: 0 !important;
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
  .general-form-selector__view{
    padding-right: 14px;
    padding-left: 14px;  
  }
  .general-form-label__input{
    padding-right: 14px;
    padding-left: 14px;  
  }
  .services__text, .services-desc-grid-item__text, .services-desc-list__item{
    font-size: 14px;
  }
  .services-desc-list__item{
    margin-bottom: 14px;
  }
  .services__text:not(:last-child){
    margin-bottom: 24px;
  }
  .general-form-label__title{
    font-size: 14px;
  }
  .general-form-file-label__text{
    font-size: 14px;
  }
  .services-form-adv-list__item:not(:last-child){
    margin-bottom: 14px;
  }
}