.uslugi{
  padding-top: 0;
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 30px;
    padding-bottom: 40px;
    &-item{
      width: calc(100% / 3 - 20px);
      margin: 10px;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      min-height: 250px;
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: .3s;
      cursor: pointer;
      &:hover{
        background-color: #4479BC;
        .uslugi-wrap-item__img{
          svg{
            path{
              fill: #fff;
            }
          }
        } 
        .uslugi-wrap-item__title{
          color: #fff;
        } 
        .uslugi-wrap-item__hr{
          background-color: #fff;
        } 
        .uslugi-wrap-item__text{
          color: #fff;
        } 
      }
      &__img{
        svg{
          path{
            transition: .3s;
            fill: black;
          }
          transition: .3s;
        }
      }
      &__title{
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        transition: .3s;
        margin-bottom: 10px;
      }
      &__hr{
        width: 57px;
        background-color: #4479BC;
        transition: .3s;
        height: 1px;
        margin-bottom: 10px;
      }
      &__text{
        font-family: SF UI Display;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #666666;
        transition: .3s;
      }
    }
  }
}