a, p, h1, h2, h3, h4, h5, h6, *{
  font-family: 'Roboto', sans-serif;
}
.circle-bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.stick-squad{
  position: absolute;
  top: 0;
}
.gen-title{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  padding-left: 29px;
  padding-top: 7px;
  position: relative;
  z-index: 10;
}
.gen-subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 29px;
  position: relative;
  z-index: 10;
}
#header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header-wrap{
  display: flex;
  padding: 0 20px;
  height: 84px;
  background-color: white;
  align-items: center;
  .header-links{
    margin: 0 auto;
    &__a{
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.8);
      transition: color 0.2s linear;
      &:not(:last-child){
        margin-right: 50px;
      }
      &:hover{
        color: #000;
      }
      &_active{        
        font-weight: 500;
      }
    }
  }
  .header-right{
    display: flex;
    &-lang{
      margin-right: 50px;
      &__a{
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        line-height: 19px;
        transition: color 0.2s linear;
        &:hover{
          color: rgba(0, 0, 0, 1);
        }
        &_active{
          font-weight: bold;
          color: #000;
        }
        &:not(:last-child){
          margin-right: 17px;
        }
      }
    }
    &__a{
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.8);
      &:not(:last-child){
        margin-right: 50px;
      }
      svg{
        margin-right: 8px;
      }
    }
  }
}